<!-- Section ------------------------------------ -->
<section class="inner-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lease-header-title">Site Information setting</h1>
                <ul id="breadcrumbs">
                    <li>
                        <a href="#">Settings </a>
                    </li>
                    <li>
                        <a href="settings__real-estate-market-equipment.html">Real Estate Market Equipment</a>
                    </li>
                    <li>
                        <a href="#">Screen Info Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="settings-section">
                    <h1 class="settings-title heading--title">Site Information Settings</h1>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6 pr-3 pr-md-0">
                            <!-- Upload  -->
                            <div class="w-100 mt-4">
                                <form id="file-upload-form" class="uploader">
                                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                    <label for="file-upload" id="file-drag">
                      <div id="start">
                        <img src="images/photo.svg" alt="image">
                        <p>Drag and drop you file</p>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span class="or">Or</span>
                        <span id="file-upload-btn" class="btn btn-default" data-blast="color">Upload</span>
                      </div>
                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="input-group mb-3 mt-3">
                                <p class="building-info">Choose An Image About Us</p>
                                <p class="file-type">Recommended file extensions .jpg | .jpeg | .png | .gif | .mp4 | .doc | .xlsx | .txt</p>
                                <div class="image-preview1">
                                    <form id="file-upload-form" class="uploader">
                                        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                        <div class="row">
                                            <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-3 pr-0 img-wrap">
                                                <label for="file-upload" id="file-drag">
                          <img id="file-image" src="#" alt="Preview" class="hidden">
                          </label>
                                            </div>
                                            <div class="col-8 col-sm-9 col-md-9 col-lg-8 col-xl-9 pl-4 pl-sm-0 img-name">
                                                <div id="response" class="hidden">
                                                    <div id="messages"></div>
                                                    <div class="d-flex align-items-center">
                                                        <i class="far fa-sm fa-eye view-section"></i>
                                                        <span class="show">show</span>
                                                        <i class="far fa-sm fa-trash-alt view-section"></i>
                                                        <span class="show">Delete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setting-custom-margin">
                        <div class="col-md-12">
                            <div class="heading--subtitle">Information About Us</div>
                            <textarea class="content" name="example"></textarea>
                            <p class="settings-section__text--info">The recommended text size does not exceed 700 characters</p>
                        </div>
                    </div>
                    <div class="row setting-custom-margin">
                        <div class="col-md-6 col-lg-5 col-xl-5 pr-0 pr-md-0">
                            <!-- Upload  -->
                            <div class="w-100 upload-info">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="dropzone-wrapper">
                                            <div class="dropzone-desc">
                                                <img src="images/photo.svg" alt="image">
                                                <p>Drag and drop you file</p>
                                                <span class="or">Or</span>
                                                <span class="btn btn-default" data-blast="color">Upload</span>
                                            </div>
                                            <input type="file" name="img_logo" class="dropzone">
                                        </div>
                                        <div class="preview-zone">
                                            <div class="box">
                                                <span class="remove-preview">
                          <i class="far fa-trash-alt "></i> Delete</span>
                                                <div class="box-body"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-7 col-xl-7">
                            <div class="input-group mb-3 mt-3 mt-lg-0 file-box">
                                <p class="building-info">Choose Our Vision Picture</p>
                                <div class="file-detail">
                                    <p class="file-type">Photo Extensions Recommended .jpg | .jpeg | .png | .gif</p>
                                    <p class="file-size">Your preferred icon size should be 900 pixels long by 1200 pixels wide</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setting-custom-margin">
                        <div class="col-md-12">
                            <div class="heading--subtitle">Rodentina</div>
                            <textarea class="content" name="example"></textarea>
                            <p class="settings-section__text--info">The recommended text size does not exceed 700 characters</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6 pr-3 pr-md-0">
                            <!-- Upload  -->
                            <div class="w-100 mt-4">
                                <form id="file-upload-form" class="uploader">
                                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                    <label for="file-upload" id="file-drag">
                      <div id="start">
                        <img src="images/photo.svg" alt="image">
                        <p>Drag and drop you file</p>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span class="or">Or</span>
                        <span id="file-upload-btn" class="btn btn-default" data-blast="color">Upload</span>
                      </div>
                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="input-group mb-3 mt-3">
                                <p class="building-info">Choose An Image About Us</p>
                                <p class="file-type">Recommended file extensions .jpg | .jpeg | .png | .gif | .mp4 | .doc | .xlsx | .txt</p>
                                <div class="image-preview1">
                                    <form id="file-upload-form" class="uploader">
                                        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                        <div class="row">
                                            <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-3 pr-0 img-wrap">
                                                <label for="file-upload" id="file-drag">
                          <img id="file-image" src="#" alt="Preview" class="hidden">
                          </label>
                                            </div>
                                            <div class="col-8 col-sm-9 col-md-9 col-lg-8 col-xl-9 pl-4 pl-sm-0 img-name">
                                                <div id="response" class="hidden">
                                                    <div id="messages"></div>
                                                    <div class="d-flex align-items-center">
                                                        <i class="far fa-sm fa-eye view-section"></i>
                                                        <span class="show">show</span>
                                                        <i class="far fa-sm fa-trash-alt view-section"></i>
                                                        <span class="show">Delete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6 pr-3 pr-md-0">
                            <!-- Upload  -->
                            <div class="w-100 mt-4">
                                <form id="file-upload-form" class="uploader">
                                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                    <label for="file-upload" id="file-drag">
                      <div id="start">
                        <img src="images/photo.svg" alt="image">
                        <p>Drag and drop you file</p>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span class="or">Or</span>
                        <span id="file-upload-btn" class="btn btn-default" data-blast="color">Upload</span>
                      </div>
                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="input-group mb-3 mt-3">
                                <p class="building-info">Choose An Image About Us</p>
                                <p class="file-type">Recommended file extensions .jpg | .jpeg | .png | .gif | .mp4 | .doc | .xlsx | .txt</p>
                                <div class="image-preview1">
                                    <form id="file-upload-form" class="uploader">
                                        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                        <div class="row">
                                            <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-3 pr-0 img-wrap">
                                                <label for="file-upload" id="file-drag">
                          <img id="file-image" src="#" alt="Preview" class="hidden">
                          </label>
                                            </div>
                                            <div class="col-8 col-sm-9 col-md-9 col-lg-8 col-xl-9 pl-4 pl-sm-0 img-name">
                                                <div id="response" class="hidden">
                                                    <div id="messages"></div>
                                                    <div class="d-flex align-items-center">
                                                        <i class="far fa-sm fa-eye view-section"></i>
                                                        <span class="show">show</span>
                                                        <i class="far fa-sm fa-trash-alt view-section"></i>
                                                        <span class="show">Delete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setting-custom-margin">
                        <div class="col-md-12">
                            <div class="settings-wrapper">
                                <div class="heading--subtitle">Image Below Ads</div>
                                <div class="table-responsive0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Download</th>
                                                <th>Processing</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>XYZ.png</td>
                                                <td>
                                                    <i class="far fa-arrow-alt-circle-down" data-blast="color"></i> Download
                                                </td>
                                                <td>Survey
                                                    <i class="fas fa-times" data-blast="color"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setting-custom-margin">
                        <div class="col-md-12">
                            <div class="heading--subtitle">Image Below Ads</div>
                            <textarea class="content" name="example"></textarea>
                            <p class="settings-section__text--info">The recommended text size does not exceed 700 characters</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="settings-section">
                    <a href="#" class="btn btn-highlight btn-lg">Save</a>
                </div>
            </div>
        </div>
    </div>
</section>
