   <!-- Section  -->
   <section class="inner-page-wrapper inner-page-wrapper-building">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lease-header-title-building">Building</h1>
          <ul id="breadcrumbs-building">
            <li>
              <a href="#">Auctions</a>
            </li>
            <li>
              <a href="#">Real Estate Auction</a>
            </li>
            <li>
              <a href="#">Add a Building</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="main-building">
            <div class="wrapper-title">
              <p class="subtitle">Add a building</p>
              <p class="building-info">Building information</p>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="main-real-estate" class="label-name">Main real estate group (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="main-real-estate">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="sub-real-estate" class="label-name">Sub-Real Estate Group (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="sub-real-estate">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="arabic-building" class="label-name">Name of the building is in Arabic</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="arabic-building">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="english-building" class="label-name">Name of the building is English</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="english-building">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="marketing-real-estate" class="label-name">Real estate marketing office (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="marketing-real-estate">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="owner-name" class="label-name">Owner's name (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="owner-name">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="space" class="label-name">Space (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="space">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="number-of-role" class="label-name">Number of role (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="number-of-role">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="unit-number" class="label-name">Number of unit</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="unit-number">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="galleries-number" class="label-name">Number of galleries (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="galleries-number">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="parking-slots" class="label-name">Number of parking lots (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="parking-slots">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="sub-parking" class="label-name">Number of sub parking (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="sub-parking">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="elevator-number" class="label-name">The number of elevators (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="elevator-number">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="type-of-prperty" class="label-name">Type of property (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="type-of-prperty">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="type-of-prperty-optional" class="label-name">The building type of the property (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="type-of-prperty-optional">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <hr/>
              <p class="building-info">Real estate ownership data</p>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="deed-number" class="label-name">Title deed number (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="deed-number">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="issuer" class="label-name">Issuer (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="issuer">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="issue-place" class="label-name">Place of issue (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="issue-place">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="property-history" class="label-name">History of the property deed (Optional)</label>
                  <div>
                    <div class="input-group mb-3">
                      <input type="date" class="form-control date-control" name="permit-history-optional">
                      <div class="input-group-append language-input">
                        <span>
                          <select class="form-control language-select" name="language-select">
                            <option>English</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="permit-number" class="label-name">Building permit number (Optional)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="permit-number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="permit-history-optional" class="label-name">History of the building permit (Optional)</label>
                  <div>
                    <div class="input-group mb-3">
                      <input type="date" class="form-control date-control" name="permit-history-optional">
                      <div class="input-group-append language-input">
                        <span>
                          <select class="form-control language-select" name="language-select">
                            <option>English</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-12 col-lg-8 col-xl-8">
                  <label for="building-addressl" class="label-name">Building address (Optional)</label>
                  <div class="input-group mb-3">
                    <textarea class="form-control" rows="4" name="building-address"></textarea>
                  </div>
                </div>
              </div>
              <hr/>
              <p class="building-info">Linking with accounts</p>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="cost-center" class="label-name">cost-center</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="cost-center">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="defereed-revenue" class="label-name">Calculate deferred revenue (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="defereed-revenue">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="revenue-calculation" class="label-name">Revenue calculation (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="revenue-calculation">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="calculate-tax" class="label-name">Calculate the tax (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="calculate-tax">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="insurance-account" class="label-name">Insurance account (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="insurance-account">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="sevice-account" class="label-name">Services account (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="sevice-account">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <hr/>
              <p class="building-info">Location details</p>
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="region-optional" class="label-name">{{'page-form.region'|translate}} (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="region-optional">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="city-optional" class="label-name">{{'page-form.city'|translate}} (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="city-optional">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="district-optional" class="label-name">{{'page-form.district'|translate}} (Optional)</label>
                  <div class="input-group mb-3 popup">
                    <select class="form-control" name="district-optional">
                      <option></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <hr/>
              <p class="building-info">Location on the map</p>
              <div class="row">
                <div class="col-md-12 col-lg-8 col-xl-8 pr-3 pr-sm-3 pr-md-3 pr-lg-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.64332144568!2d72.74109713631994!3d19.082522324824836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1603377395753!5m2!1sen!2sin" width="100%" height="330" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4 pl-3 pl-sm-4 pl-md-3 pl-lg-0 ml-0">
                  <div class="map-info">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="map-info-names"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="map-info-names mt-4"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="map-info-names custom-width mt-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <p class="building-info">Roles</p>
              <div class="row roles-bgcolor">
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="name-arabic" class="label-name">Name of the building is in Arabic</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="name-arabic">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <label for="name-english" class="label-name">Name of the building is English</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="name-english">
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                  <div class="report-button">
                    <a href="#" class="btn btn-custom" data-blast="bgColor">Add</a>
                  </div>
                </div>
              </div>
              <!-- Upload  -->
              <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6 pr-0 pr-md-0">
                  <div class="w-100 mt-4">
                    <form id="file-upload-form" class="uploader">
                      <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                      <label for="file-upload" id="file-drag">
                        <div id="start">
                          <img src="images/photo.svg" alt="image">
                          <p>Drag and drop you file</p>
                          <div id="notimage" class="hidden">Please select an image</div>
                          <span class="or">Or</span><span id="file-upload-btn" class="btn btn-default" data-blast="color">Upload</span>
                        </div>
                      </label>
                    </form>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                  <div class="input-group mb-3 mt-3">
                    <p class="building-info">Choose An Image About Us</p>
                    <p class="file-type">Recommended file extensions .jpg | .jpeg | .png | .gif | .mp4 | .doc | .xlsx | .txt</p>
                    <div class="image-preview1">
                      <form id="file-upload-form" class="uploader">
                        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                        <div class="row">
                          <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-3 pr-0 img-wrap">
                            <label for="file-upload" id="file-drag">
                            <img id="file-image" src="#" alt="Preview" class="hidden">
                            </label>
                          </div>
                          <div class="col-8 col-sm-9 col-md-9 col-lg-8 col-xl-9 pl-4 pl-sm-0 img-name">
                            <div id="response" class="hidden">
                              <div id="messages"></div>
                              <div class="d-flex align-items-center">
                                <i class="far fa-sm fa-eye view-section"></i><span class="show">show</span>
                                <i class="far fa-sm fa-trash-alt view-section"></i><span class="show">Delete</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="report-button">
                    <a href="#" class="btn btn-highlight btn-lg">Save</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
