<!-- Section ------------------------------------ -->
<section class="inner-page-wrapper inner-page-auction">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="main-auction">
          <div class="wrapper-title">
            <div class="input-group ">
              <input type="text" class="form-control" placeholder="Search here" name="identify-number">
              <button type="submit" class="btn-box" data-blast="bgColor">
                <i class="fa fa-search fa-sm search-icon"></i>
              </button>
            </div>
            <a [routerLink]="['/control-panel/accounting/add-account-type']" routerLinkActive="router-link-active"
              class="addition" data-blast="borderColor">Addition</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="auction-detail">
          <div class="wrapper-title">
            <p class="auction-subtitle mb-3 mb-md-4 mb-lg-0">Accounts Types</p>

          </div>
          <hr>
          <!-- <div class="row"> -->
          <div class="table-responsive">
            <table class="table table-responsive0 table-bordered text-center ">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Account Type In Arabic</th>
                <th scope="col">Account Type In English</th>

                <th scope="col" colspan="2">Actions</th>
              </tr>
              <tr *ngFor="let item of AccountsTypes; let i= index">
                <td>{{i+1}}</td>
                <td>{{item.accountTypeArName}}</td>
                <td>{{item.accountTypeEnName}}</td>


                <td><a href="javascript:void(0);" class="dropdown-item" (click)="navigatetoupdate(item.id)"><i
                      class="fas fa-user-edit ml-1"></i>
                    Edit</a></td>

                <td> <a href="javascript:void(0);" class="dropdown-item" (click)="delete(item.id)"><i
                      class="fas fa-trash text-danger ml-1"></i>
                    Delete</a></td>

              </tr>


            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>