 <!-- Section ------------------------------------ -->
 <section class="inner-page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lease-header-title">Add or Edit List</h1>
          <ul id="breadcrumbs">
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="#">Real Estate Market Equipment</a>
            </li>
            <li>
              <a href="#">Menu Settings</a>
            </li>
            <li>
              <a href="#">Add or Edit List</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-section">
            <h1 class="settings-title">Add List</h1>
            <hr class="mt-4 mb-0">
            <div class="row mt-3">
              <div class="col-md-12 col-lg-4 col-xl-3">
                <label for="arabic-name" class="label-name">List name in Arabic</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="arabic-name">
                </div>
              </div>
              <div class="col-md-12 col-lg-4 col-xl-3">
                <label for="english-name" class="label-name">List name in English</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="english-name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-4">
                <label for="select-section" class="label-name">Select section in the page</label>
                <div class="input-group mt-2 mb-3">
                  <ul class="nav nav-pills">
                    <li class="active mr-4">
                      <a class="btn btn-custom" data-blast="bgColor">Top of the page</a>
                    </li>
                    <li>
                      <a class="btn btn-light">Bottom of the page</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-12">
                <a class="btn btn-default btn-lg" data-blast="borderColor">Add List</a>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-12">
                <p class="subtitle-desc">Page Content</p>
                <div class="input-group mb-3">
                  <textarea class="form-control" rows="4" name="detail-address"></textarea>
                </div>
              </div>
              </div> -->
            <div class="row setting-custom-margin mt-4">
              <div class="col-md-12">
                <div class="heading--subtitle">Page Content</div>
                <textarea class="content" name="example"></textarea>
                <p class="settings-section__text--info">The recommended text size does not exceed 700 characters</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="main-screen">
                      <div class="main-upper-section">
                        <p class="subtitle-info">The Main Upper Sections</p>
                        <hr class="mt-4 mb-0">
                      </div>
                      <div class="main-section-info">
                        <div class="checkbox-wrapper">
                          <ul class="list-wrap">
                            <li>
                              <input type="checkbox" id="main" />
                              <label for="main"></label>
                              <span class="list-section">Main</span>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action">
                          <i class="fas fa-edit font-weight-bold" data-blast="color"></i>
                          </button>
                          <button type="button" class="btn btn-action">
                          <i class="far fa-trash-alt font-weight-bold" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                      <div class="main-section-info">
                        <div class="checkbox-wrapper">
                          <ul class="list-wrap">
                            <li>
                              <input type="checkbox" id="information" />
                              <label for="information"></label>
                              <span class="list-section">Information About Us</span>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action">
                          <i class="fas fa-edit font-weight-bold"data-blast="color"></i>
                          </button>
                          <button type="button" class="btn btn-action">
                          <i class="far fa-trash-alt font-weight-bold" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                      <div class="main-section-info">
                        <div class="checkbox-wrapper">
                          <ul class="list-wrap">
                            <li>
                              <input type="checkbox" id="recent-add" />
                              <label for="recent-add"></label>
                              <span class="list-section">Recently Added </span>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action">
                          <i class="fas fa-edit font-weight-bold" data-blast="color"></i>
                          </button>
                          <button type="button" class="btn btn-action">
                          <i class="far fa-trash-alt font-weight-bold" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                      <div class="main-section-info">
                        <div class="checkbox-wrapper">
                          <ul class="list-wrap">
                            <li>
                              <input type="checkbox" id="call-us" />
                              <label for="call-us"></label>
                              <span class="list-section">Call Us </span>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action">
                          <i class="fas fa-edit font-weight-bold" data-blast="color"></i>
                          </button>
                          <button type="button" class="btn btn-action">
                          <i class="far fa-trash-alt font-weight-bold" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="main-screen">
                      <div class="main-upper-section">
                        <p class="subtitle-info">Lower Main Sections</p>
                        <hr class="mt-4 mb-0">
                      </div>
                      <div class="main-section-info">
                        <div class="checkbox-wrapper">
                          <ul class="list-wrap">
                            <li>
                              <input type="checkbox" id="vision" />
                              <label for="vision"></label>
                              <span class="list-section">Our Vision</span>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action">
                          <i class="fas fa-edit font-weight-bold" data-blast="color"></i>
                          </button>
                          <button type="button" class="btn btn-action">
                          <i class="far fa-trash-alt font-weight-bold" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-section">
            <a href="#" class="btn btn-highlight btn-lg">Save</a>
          </div>
        </div>
      </div>
    </div>
  </section>