<div class="units-overview">
  <div style="gap: 11px;" class="d-flex  flex-wrap">
    <div >
      <div class="box">
        <div>
          <p class="counts">{{ownersCount}}</p>
          <p class="count-names">{{'dashboard.owners-count'|translate}}</p>
        </div>
        <div class="dash-tenant">
          <!-- <img src="./assets/images/tenants.png" alt="tenants"> -->
          <i class="fa fa-users"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{tenantsCount}}</p>
          <p class="count-names">{{'dashboard.tenants-count'|translate}}</p>
        </div>
        <div class="dash-tenant">
          <!-- <img src="./assets/images/tenants.png" alt="tenants"> -->
          <i class="fa fa-users"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{purchasersCount}}</p>
          <p class="count-names">{{'dashboard.purchasers-count'|translate}}</p>
        </div>
        <div class="dash-tenant">
          <!-- <img src="./assets/images/tenants.png" alt="tenants"> -->
          <i class="fa fa-users"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{rentalUnitsCount}}</p>
          <p class="count-names">{{'dashboard.rental-units-count'|translate}}</p>
        </div>
        <div class="dash-unit">
          <!-- <img src="./assets/images/units.png" alt="units"> -->
          <i class="fa fa-building-circle-check"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{vacantRentalUnitsCount}}</p>
          <p class="count-names">{{'dashboard.vacant-rental-units-count'|translate}}</p>
        </div>
        <div class="dash-vacant">
          <!-- <img src="./assets/images/vacant.png" alt="vacant"> -->
          <i class="fa fa-building-flag"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{rentedRentalUnitsCount}}</p>
          <p class="count-names">{{'dashboard.rented-rental-units-count'|translate}}</p>
        </div>
        <div class="dash-lease">
          <!-- <img src="./assets/images/lease.png" alt="lease"> -->
          <i class="fa fa-building-lock"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{underContractRentalUnitsCount}}</p>
          <p class="count-names">{{'dashboard.under-contract-rental-units-count'|translate}}</p>
        </div>
        <div class="dash-vacant">
          <!-- <img src="./assets/images/vacant.png" alt="vacant"> -->
          <i class="fa fa-building-flag"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{bookedRentalUnitsCount}}</p>
          <p class="count-names">{{'dashboard.booked-rental-units-count'|translate}}</p>
        </div>
        <div class="dash-vacant">
          <!-- <img src="./assets/images/vacant.png" alt="vacant"> -->
          <i class="fa fa-building-flag"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{evacuationRentalUnitsCount}}</p>
          <p class="count-names">{{'dashboard.evacuation-rental-units-count'|translate}}</p>
        </div>
        <div class="dash-vacant">
          <!-- <img src="./assets/images/vacant.png" alt="vacant"> -->
          <i class="fa fa-building-flag"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{offerRentalUnitsCount}}</p>
          <p class="count-names">{{'dashboard.offer-rental-units-count'|translate}}</p>
        </div>
        <div class="dash-vacant">
          <!-- <img src="./assets/images/vacant.png" alt="vacant"> -->
          <i class="fa fa-building-flag"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box">
        <div>
          <p class="counts">{{salesUnitsCount}}</p>
          <p class="count-names">{{'dashboard.sales-units-count'|translate}}</p>
        </div>
        <div class="dash-unit">
          <!-- <img src="./assets/images/vacant.png" alt="vacant"> -->
          <i class="fa fa-building-flag"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box ">
        <div>
          <p class="counts">{{rentContractsCount}}</p>
          <p class="count-names">{{'dashboard.rent-contracts-count'|translate}}</p>
        </div>
        <div class="dash-contract dash5">
          <!-- <img src="./assets/images/contract.png" alt="contract"> -->
          <i class="fa fa-file-clipboard"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box ">
        <div>
          <p class="counts">{{salesAndBuyContractsCount}}</p>
          <p class="count-names">{{'dashboard.sales-and-buy-contracts-count'|translate}}</p>
        </div>
        <div class="dash-contract dash5">
          <!-- <img src="./assets/images/contract.png" alt="contract"> -->
          <i class="fa fa-file-clipboard"></i>
        </div>
      </div>
    </div>
    <div >
      <div class="box ">
        <div>
          <p class="counts">{{maintenanceContractsCount}}</p>
          <p class="count-names">{{'dashboard.maintenance-contracts-count'|translate}}</p>
        </div>
        <div class="dash-contract dash5">
          <!-- <img src="./assets/images/contract.png" alt="contract"> -->
          <i class="fa fa-file-clipboard"></i>
        </div>
      </div>
    </div>
  </div>
</div>