<!-- Section  -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white ;font-size: 20px;">{{'page-form.loading'|translate}} </p>
</ngx-spinner>

<section class="inner-page-wrapper inner-page-wrapper-building">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-0 mb-5">
                    <div class="card-body">
                        <form [formGroup]="opportunityTypeForm" id="opportunityTypeFormSubmit" class="tabs-form ">
                            <div class="main-building p-0">
                                <div class="wrapper-title">
                                    <!-- <h1 class="lease-header-title-building">{{'page-form.building'|translate}}</h1> -->
                                    <h3 class="building-info">{{'page-form.opportunity-type'|translate}}</h3>
                                    <div class="row">
                                        <div class="col gap-2 grid grid-cols-3 ">
                                            <div class="">
                                                <label for="nameAr"
                                                    class="label-name">{{'page-form.name-arabic'|translate}}<span
                                                        class="text-danger">*</span></label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="nameAr"
                                                        formControlName="nameAr">

                                                    <div *ngIf="f['nameAr'].touched && f['nameAr'].invalid"
                                                        class=" alert-danger validtion">
                                                        <div *ngIf="f['nameAr'].errors && f['nameAr'].invalid">
                                                            <i class="fa fa-close "></i>
                                                            {{'input-validation.name-invalid'|translate}}
                                                        </div>
                                                        <div
                                                            *ngIf="f['nameAr'].errors && f['nameAr'].errors['minlength']">
                                                            <i class="fa fa-close "></i>
                                                            {{'input-validation.name-min'|translate}}
                                                        </div>
                                                        <div
                                                            *ngIf="f['nameAr'].errors && f['nameAr'].errors['maxlength']">
                                                            <i class="fa fa-close "></i>
                                                            {{'input-validation.name-max'|translate}}
                                                        </div>
                                                        <div
                                                            *ngIf="f['nameAr'].errors && f['nameAr'].errors['pattern'] ">
                                                            <i class="fa fa-times"></i>{{'error.space'|translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="nameEn"
                                                    class="label-name">{{'page-form.name-latin'|translate}}<span
                                                        class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="nameEn"
                                                        formControlName="nameEn">
                                                    <div *ngIf="f['nameEn'].touched && f['nameEn'].invalid"
                                                        class=" alert-danger validtion">
                                                        <div *ngIf="f['nameEn'].errors && f['nameEn'].invalid">
                                                            <i class="fa fa-close "></i>
                                                            {{'validation-messages.invalid-name'|translate}}
                                                        </div>
                                                        <div
                                                            *ngIf="f['nameEn'].errors && f['nameEn'].errors['minlength']">
                                                            <i class="fa fa-close "></i>
                                                            {{'validation-messages.min-name'|translate}}
                                                        </div>
                                                        <div
                                                            *ngIf="f['nameEn'].errors && f['nameEn'].errors['maxlength']">
                                                            <i class="fa fa-close "></i>
                                                            {{'validation-messages.max-name'|translate}}
                                                        </div>
                                                        <div
                                                            *ngIf="f['nameEn'].errors && f['nameEn'].errors['pattern'] ">
                                                            <i class="fa fa-times"></i>{{'error.space'|translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                                                     




                                        






                                        </div>
                                        <hr />
                                    </div>
                                 

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>