<div class="page_wrapper">



    <main class="main-content margin-top-mobile">
        <section class="banner-top-common">
            <div class="banner-top-common__banner_main">
                <div class="banner_main_bg">
                    <img src="../assets/images/about-us-bg.png" alt="">
                    <div id="overlay"></div>
                </div>
                <div class="banner_bottom">
                    <img src="../assets/images/banner_bottom_bg.png">
                </div>

                <div class="banner_bottom_arrow"><span></span></div>
            </div>
            <div class="banner-top-common__page-heading">
                <div class="container">
                    <h1 class="banner-page-title">
                        Map View
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb banner-top-breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/property-listing">{{'general.property-listing' | translate}}
                </a></li>
                            <li class="breadcrumb-item"><a routerLink="/view-map">{{'general.view-map' | translate}} </a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>

        <section class="property-listing-box">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-8">
                        <div class="listingright-box">
                            <h2 class="view-page-heading">{{'general.map-view' | translate}}</h2>

                            <div class="clear-float"></div>

                        </div>

                        <div class="property-listing-tabs">

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="grid-apparment-list">
                                        <div class="grid-apparment-img">
                                            <img src="../assets/images/property/list-01.png" alt="list-01-01">
                                            <button type="button" class="btn btn-price">60,000 lac</button>
                                        </div>
                                        <div class="grid-apparment-details1">
                                            <div class="grid-apparment-left-box">
                                                <h2 class="app-h">2 BHK Apartments</h2>
                                                <p class="grid-apparment-name">By Ashiana Housing</p>
                                                <div class="d-flex">
                                                    <p class="grid-apparment-details">Details : <span class="appar-bold"> 5.56k / sq.ft.</span>
                                                    </p>
                                                    <p class="grid-apparment-status">Status : <span class="appar-bold">Available</span></p>
                                                </div>
                                            </div>
                                            <div class="grid-apparment-left-right">
                                                <div class="contact-box">
                                                    <p class="contact-heading">Contact</p>
                                                    <p class="emi-info">EMI starts at 20k</p>
                                                </div>
                                            </div>
                                            <div class="clearboth"></div>
                                        </div>
                                        <ul class="list-unstyled d-flex grid-apparment-list-view">
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bed.png" alt="bed-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bathroom.png" alt="bathroom-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Parking</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/parking.png" alt="parking-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="grid-apparment-list">
                                        <div class="grid-apparment-img">
                                            <img src="../assets/images/property/list-2.png" alt="list-01-01">
                                            <button type="button" class="btn btn-price">60,000 lac</button>
                                        </div>
                                        <div class="grid-apparment-details1">
                                            <div class="grid-apparment-left-box">
                                                <h2 class="app-h">2 BHK Apartments</h2>
                                                <p class="grid-apparment-name">By Ashiana Housing</p>
                                                <div class="d-flex">
                                                    <p class="grid-apparment-details">Details : <span class="appar-bold"> 5.56k / sq.ft.</span>
                                                    </p>
                                                    <p class="grid-apparment-status">Status : <span class="appar-bold">Available</span></p>
                                                </div>
                                            </div>
                                            <div class="grid-apparment-left-right">
                                                <div class="contact-box">
                                                    <p class="contact-heading">Contact</p>
                                                    <p class="emi-info">EMI starts at 20k</p>
                                                </div>
                                            </div>

                                            <div class="clearboth"></div>
                                        </div>
                                        <ul class="list-unstyled d-flex grid-apparment-list-view">
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bed.png" alt="bed-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bathroom.png" alt="bathroom-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Parking</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/parking.png" alt="parking-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="grid-apparment-list">
                                        <div class="grid-apparment-img">
                                            <img src="../assets/images/property/list-3.png" alt="list-01-01">
                                            <button type="button" class="btn btn-price">60,000 lac</button>
                                        </div>
                                        <div class="grid-apparment-details1">
                                            <div class="grid-apparment-left-box">
                                                <h2 class="app-h">2 BHK Apartments</h2>
                                                <p class="grid-apparment-name">By Ashiana Housing</p>
                                                <div class="d-flex">
                                                    <p class="grid-apparment-details">Details : <span class="appar-bold"> 5.56k / sq.ft.</span>
                                                    </p>
                                                    <p class="grid-apparment-status">Status : <span class="appar-bold">Available</span></p>
                                                </div>
                                            </div>
                                            <div class="grid-apparment-left-right">
                                                <div class="contact-box">
                                                    <p class="contact-heading">Contact</p>
                                                    <p class="emi-info">EMI starts at 20k</p>
                                                </div>
                                            </div>
                                            <div class="clearboth"></div>
                                        </div>
                                        <ul class="list-unstyled d-flex grid-apparment-list-view">
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bed.png" alt="bed-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bathroom.png" alt="bathroom-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Parking</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/parking.png" alt="parking-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="grid-apparment-list">
                                        <div class="grid-apparment-img">
                                            <img src="../assets/images/property/list-4.png" alt="list-01-01">
                                            <button type="button" class="btn btn-price">60,000 lac</button>
                                        </div>
                                        <div class="grid-apparment-details1">
                                            <div class="grid-apparment-left-box">
                                                <h2 class="app-h">2 BHK Apartments</h2>
                                                <p class="grid-apparment-name">By Ashiana Housing</p>
                                                <div class="d-flex">
                                                    <p class="grid-apparment-details">Details : <span class="appar-bold"> 5.56k / sq.ft.</span>
                                                    </p>
                                                    <p class="grid-apparment-status">Status : <span class="appar-bold">Available</span></p>
                                                </div>
                                            </div>
                                            <div class="grid-apparment-left-right">
                                                <div class="contact-box">
                                                    <p class="contact-heading">Contact</p>
                                                    <p class="emi-info">EMI starts at 20k</p>
                                                </div>
                                            </div>

                                            <div class="clearboth"></div>
                                        </div>
                                        <ul class="list-unstyled d-flex grid-apparment-list-view">
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bed.png" alt="bed-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Bathrooms</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/bathroom.png" alt="bathroom-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                            <li>
                                                <p class="apartments-parts">Parking</p>
                                                <div class="apartments-logo-img">
                                                    <img src="../assets/images/property/parking.png" alt="parking-01">
                                                    <span class="appartments-num">02</span>
                                                </div>

                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="mb-sapce">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3781.9263720054264!2d73.78436381436954!3d18.577357872284814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1skolte%20patil%20%20pimple%20nilakh%20saudi%20arabia!5e0!3m2!1sen!2sin!4v1597143136303!5m2!1sen!2sin"
                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <section class="backdrop border-top p-5 quick_inquiry_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section_heading">
                            <h4>{{'general.quick-inquiry' | translate}}</h4>
                            <h1>{{'general.want-more-information?' | translate}}</h1>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="inquiry_form_main">
                            <form action="" name="inquiry-form-main" class="inquiry-form">
                                <div class="form-wrapper">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{'general.your-name' | translate}}">
                                        <input type="tel" class="form-control" placeholder="{{'general.phone-number' | translate}}">
                                        <input type="email" class="form-control" placeholder="{{'general.Email-ID' | translate}}">
                                        <select class="form-control" id="select">
                                        <option selected>{{'general.project' | translate}}</option>
                                        <option>Project 1</option>
                                        <option>Project 2</option>
                                        <option>Project 2</option>
                                        <option>Project 2</option>
                                        </select>
                                        <img src="../assets/images/property/next.png" class="custom-selectimg" alt="next-01">
                                    </div>
                                    <div class="form-button">
                                        <button class="form-btn-common inquiry-form-btn">
                                        <span class="call-img"><img src="../assets/images/form-call-img.png" alt="forms-call-img"
                                            width="25px">
                                            {{'general.get-call-back' | translate}}</span>
                                        <!-- <span class="get-call-text"></span> -->
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </section>
    </main>

</div>

<!-- Normal JS -->
<!-- <script src="../node_modules/jquery/dist/jquery.slim.min.js "></script>

<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js "></script> -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "></script>
<script src="../node_modules/owl.carousel/dist/owl.carousel.min.js "></script>
<script src="js/main.js "></script>
<script src="js/owl-carousels.js "></script>
<script src="js/browser-class.js "></script>  -->

<!-- Minified Combine JS -->
<!-- <script src="js/bundle.min.js "></script> -->
