
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white ;font-size: 20px;" > {{"general.loading"|translate}} </p></ngx-spinner>

  <section class="inner-page-wrapper inner-page-auction">
      <div class="container">
        <app-tabulator [idColName]="'id'" [childRowData]="floors" [parentColName]="'groupId'"
        [divId]="'Floors'" [columnSettings]="columnNames" [componentName]="'Floors'"
        (onAddItem)="openFloors()" [refreshGrid]="isListEmpty"(onMenuActionSelected)="onMenuActionSelected($event)"
        [showMenuOptions]="menuOptions" [direction]="direction" [sortByList]="sortByCols"
        [groupByList]="groupByCols" [panelId]="panelId" [searchFilters]="searchFilters"
        (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'Floors'">
      </app-tabulator>
      </div>
  </section>
