<section class="inner-page-wrapper inner-page-auction">
    <div class="container">
        <app-tabulator [idColName]="'id'" [childRowData]="waterMeters" [parentColName]="'groupId'" [divId]="'WaterMeters'" [columnSettings]="columnNames" [componentName]="'waterMeters'" (onAddItem)="openAddWaterMeters()" (onMenuActionSelected)="onMenuActionSelected($event)"
            [showMenuOptions]="menuOptions" [refreshGrid]="isListEmpty" [direction]="direction" [sortByList]="sortByCols" [groupByList]="groupByCols" [panelId]="panelId" [searchFilters]="searchFilters" (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'WaterMeters'"></app-tabulator>
    </div>
  </section>
