<section class="inner-page-wrapper inner-page-auction">
  <div class="container">
      <app-tabulator [idColName]="'id'" [childRowData]="suppliers" [parentColName]="'groupId'" [divId]="'Suppliers'" [columnSettings]="columnNames" [componentName]="'suppliers'" (onAddItem)="openAddSuppliers()" (onMenuActionSelected)="onMenuActionSelected($event)"
          [showMenuOptions]="menuOptions" [direction]="direction" [sortByList]="sortByCols" [groupByList]="groupByCols" [panelId]="panelId" [searchFilters]="searchFilters" (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'Suppliers'"></app-tabulator>
  </div>
</section>



