<!--color pallet changer---------------------------->
<!-- <div class="container">
    <div class="row">
      <div class="blast-box">
        <div class="blast-icon">
          <img src="./assets/images/paint-palette.png">
        </div>
        <div class="blast-frame">
          <a class="close" aria-label="Close" id="close-switcher">
            <span aria-hidden="true">×</span>
          </a>
          <h6>Select Colors</h6>
          <div class="blast-colors">
            <div class="blast-color royalblue" id="royalblue">#3F51B5</div>
            <div class="blast-color skyblue" id="skyblue">#00BCD4</div>
            <div class="blast-color yellow" id="yellow">#FFC107</div>
            <div class="blast-color orange" id="orange">#FF5722</div>
            <div class="blast-color pink" id="pink">#E91E63</div>
            <div class="blast-color blue" id="blue">#2196F3</div>
            <div class="blast-color purple" id="purple">#a98d4d</div>
            <div class="blast-color green" id="green">#4CAF50</div>
          </div>
          <br />
          <br />
          <a class="btn btn-default" data-blast="borderColor">Set Color</a>
          <br />
          <br />
          <h6>Select Demo</h6>
          <p>Demo1</p>
          <div class="demo1">
            <img src="./assets/images/demo/demo1.JPG" alt="demo1">
            <div class="style">
              <a class="btn btn-custom btn-demo mr-3" onclick='changeToLTR()'>Default</a>
              <a  class="btn btn-default btn-rtl" onclick='changeToRTL()'>RTL</a>
            </div>
          </div>
          <p>Demo2</p>
          <div class="demo2">
            <img src="./assets/images/demo/demo2.JPG" alt="demo2">
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!--color pallete changer end----------------->