<div class="page_wrapper">
  <main class="main-content margin-top-mobile">
    <section class="banner-top-common">
      <div class="banner-top-common__banner_main">
        <div class="banner_main_bg mobile-height contant-page" >
          <img src="../assets/images/abut-imge1.jpeg" alt="" />
          <div id="overlay"></div>
        </div>
      </div>
      <div class="banner-top-common__page-heading" style="top: 22%;">
        <div class="container">
          <div class="row ">
            <div
              class="col-lg-12 p-5 about-info-title"
              style="text-align: center; background: white"
            >
              <div class="row item-re">
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 text-style-about p-5">
                    <div class="contact-section">
                        <h2 class="contact-heading">{{ "about-us.ABOUT-US" | translate }}</h2>
                        <hr class="line" />
                      </div>
                  <h1>{{ "about-us.ABOUT-US" | translate }}</h1>
                  <p class="pt-4">
                    {{ "about-us.revolutionizing-real-estate-reviews" | translate }}
                   
                  </p>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                    <img class="img-about-conteiner" src="../assets/images/abut-img2.png" width="100%" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="banner-top-common">
            <div class="banner-top-common__banner_main">
                <div class="banner_main_bg">
                    <img src="../assets/images/about-us-bg.png" alt="">
                    <div id="overlay"></div>
                </div>
                <div class="banner_bottom">
                    <img src="../assets/images/banner_bottom_bg.png">
                </div>

                <div class="banner_bottom_arrow"><span></span></div>
            </div>
            <div class="banner-top-common__page-heading">
                <div class="container">
                    <h1 class="banner-page-title">
                        {{'general.about-us' | translate}}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb banner-top-breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/web-site/home'">{{'general.home' | translate}}</a></li>
                            <li class="breadcrumb-item"><a routerLink="/web-site/about-us'">{{'general.about-us' | translate}}</a>
                            </li>
                            <li class="breadcrumb-item"><a routerLink="/web-site/about-us">{{'general.about-us' | translate}}</a></li>

                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <section class="team-visions">
            <div class="container">
                <div class="team-visions__top">
                    <ul class="list-unstyled ups-visions-lists">
                        <li>
                            <div class="team-visions-img-box">
                                <span>01</span>
                            </div>
                            <div class="team-visions-info">
                                <h1 class="team-visions-info__title"> {{'about-us.our-mission' | translate}}</h1>
                                <p class="team-vision-info__para-info">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae venenatis.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="team-visions-img-box">
                                <span>02</span>
                            </div>
                            <div class="team-visions-info">
                                <h1 class="team-visions-info__title">{{'about-us.our-approch' | translate}}</h1>
                                <p class="team-vision-info__para-info">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae venenatis.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="team-visions-img-box">
                                <span>03</span>
                            </div>
                            <div class="team-visions-info">
                                <h1 class="team-visions-info__title">{{'about-us.our-philosohy' | translate}}</h1>
                                <p class="team-vision-info__para-info">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae venenatis.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="about-info">
            <div class="container">
                <div class="about-info-wrapper">
                    <div class="about-info-left">
                        <h4 class="about-title">{{'general.about-us' | translate}}</h4>
                        <h1 class="about-subtitle">{{'about-us.best-real-estate' | translate}}</h1>
                        <p class="about-info-para">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae venenatis mi
                        </p>
                        <a href="#" class="about_read_more_btn">{{'general.read-more' | translate}}</a>
                    </div>
                    <div class="about-info-right">
                        <img class="img-bg-blue" src="../assets/images/about-us-bg-blue.png" alt="about-us-bg-blue">
                        <img class="about-img-absolute" src="../assets/images/about-us-bg-over.png" class="video-img" alt="about-us-bg-over">
                    </div>
                </div>

            </div>
        </section>
        <section class="our-team">
            <div class="container">
                <div class="our-team__top">
                    <h1 class="caption-title-team">{{'about-us.dynamic-team' | translate}}</h1>
                </div>
                <div class="our-team__bottom">
                    <div class="our-team-carousel">
                        <div class="owl-carousel owl-theme" id="team-carousel">
                            <div class="item">
                                <div class="team-carousel-content">
                                    <div class="team-img-box">

                                        <img src="../assets/images/ourteam11.png" class="dynamic-team" alt="team-member-first">

                                        <a href="javascript:void(0)" class="brief-link">
                                            <img src="../assets/images/right_arrow.png" alt="right-arrow">
                                        </a>
                                    </div>
                                    <h1 class="team-heading">
                                        Louis Rowley <span>(Manager)</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-carousel-content">
                                    <div class="team-img-box">
                                        <img src="../assets/images/ourteam12.png" class="dynamic-team" alt="team-member-second">
                                        <a href="javascript:void(0)" class="brief-link">
                                            <img src="../assets/images/right_arrow.png" alt="right-arrow">
                                        </a>
                                    </div>
                                    <h1 class="team-heading">
                                        Riley Moss <span>(Sales lead)</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-carousel-content">
                                    <div class="team-img-box">
                                        <img src="../assets/images/ourteam13.png" class="dynamic-team" alt="team-member-third">
                                        <a href="javascript:void(0)" class="brief-link">
                                            <img src="../assets/images/right_arrow.png" alt="right-arrow">
                                        </a>
                                    </div>
                                    <h1 class="team-heading">
                                        Max Gotch <span>(Team Manager)</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-carousel-content">
                                    <div class="team-img-box">
                                        <img src="../assets/images/ourteam11.png" class="dynamic-team" alt="team-member-first">
                                        <a href="javascript:void(0)" class="brief-link">
                                            <img src="../assets/images/right_arrow.png" alt="right-arrow">
                                        </a>
                                    </div>
                                    <h1 class="team-heading">
                                        Louis Rowley <span>(Manager)</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-carousel-content">
                                    <div class="team-img-box">
                                        <img src="../assets/images/ourteam12.png" class="dynamic-team" alt="team-member-first">
                                        <a href="javascript:void(0)" class="brief-link">
                                            <img src="../assets/images/right_arrow.png" alt="right-arrow">
                                        </a>
                                    </div>
                                    <h1 class="team-heading">
                                        Riley Moss <span>(Manager)</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="backdrop border-top p-5 quick_inquiry_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section_heading">
                            <h4>{{'general.quick-inquiry' | translate}}</h4>
                            <h1>{{'general.want-more-information?' | translate}}</h1>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="inquiry_form_main">
                            <form action="" name="inquiry-form-main" class="inquiry-form">
                                <div class="form-wrapper">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{'general.your-name' | translate}}">
                                        <input type="tel" class="form-control" placeholder="{{'general.phone-number' | translate}}">
                                        <input type="email" class="form-control" placeholder="{{'general.Email-ID' | translate}}">
                                        <select class="form-control" id="select">
                      <option selected>{{'general.project' | translate}}</option>
                      <option>Project 1</option>
                      <option>Project 2</option>
                      <option>Project 2</option>
                      <option>Project 2</option>
                    </select>
                                        <img src="../assets/images/property/next.png" class="custom-selectimg" alt="next-01">
                                    </div>
                                    <div class="form-button">
                                        <button class="form-btn-common inquiry-form-btn">
                      <span class="call-img"><img src="../assets/images/form-call-img.png" alt="forms-call-img"
                          width="25px">
                        {{'general.get-call-back' | translate}}</span>
                    </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
  </main>
</div>

<!-- Normal JS -->
<!-- <script src="../node_modules/jquery/dist/jquery.slim.min.js "></script>

<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js "></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "></script>
<script src="../node_modules/owl.carousel/dist/owl.carousel.min.js "></script>
<script src="src/assets/assets_websites/js/main.js "></script>
<script src="src/assets/assets_websites/js/owl-carousels.js "></script>
<script src="src/assets/assets_websites/js/browser-class.js "></script>  -->

<!-- Minified Combine JS -->
<!-- <script src="js/bundle.min.js "></script> -->
