<div class="page_wrapper">

    <main class="main-content margin-top-mobile">
        <section class="banner-top-common">
            <div class="banner-top-common__banner_main">
                <div class="banner_main_bg">
                    <img src="../assets/images/about-us-bg.png" alt="">
                    <div id="overlay"></div>
                </div>
                <div class="banner_bottom">
                    <img src="../assets/images/banner_bottom_bg.png">
                </div>

                <div class="banner_bottom_arrow"><span></span></div>
            </div>
            <div class="banner-top-common__page-heading">
                <div class="container">
                    <h1 class="banner-page-title">
                        {{'general.contact-us' | translate}}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb banner-top-breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="['/home']">{{'general.home' | translate}}</a></li>
                            <li class="breadcrumb-item"><a routerLink="['/contact-us']"> {{'general.contact-us' | translate}}</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <section id="tabs" class="contactus-section-wrap project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <nav>
                            <div class="nav contact-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item contact-link active" id="distributors-tab" data-toggle="tab" href="#distributors" role="tab" aria-controls="nav-distributors" aria-selected="true"> {{'contact-us.distributors' |
                  translate}}</a>
                                <a class="nav-item contact-link" id="branches-tab" data-toggle="tab" href="#branches" role="tab" aria-controls="branches-tab" aria-selected="false">{{'contact-us.branches' | translate}}</a>

                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="distributors" role="tabpanel" aria-labelledby="distributors-tab">

                                <p class="company-provider-info">
                                    {{'contact-us.description-about-us' | translate}}
                                </p>
                                <div id="accordion" class="distributer-info">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <div>
                                                    <p class="united-arab"> - (+971) The United Arab Emirates</p>
                                                </div>

                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h1 class="distributor-name">Abu Dhabi</h1>
                          <p class="distributor-comapny-info">Nour Al-Sham Computer Company</p>
                        </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <table class="table administrator-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="administrator-heading">Administrator</td>
                                                            <td class="administrator-name">M. Jamal Qaddoura</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Phone</td>
                                                            <td class="box-size-num">37623329</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Mobile</td>
                                                            <td class="box-size-num">0507639907</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">e-mail</td>
                                                            <td class="box-size-num"> info@nooralsham.com<br> jamalbme@hotmail.com

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Title</td>
                                                            <td class="box-size-num">
                                                                Al Falah Street - Abu Dhabi - United Arab Emirates - P.O.Box: 16083
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">


                                            <h5 class="mb-0">
                                                <div>
                                                    <p class="united-arab"> - (+964) Iraq</p>
                                                </div>

                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          <h1 class="distributor-name">Baghdad</h1>
                          <p class="distributor-comapny-info">Al-Ayham Software Solutions</p>
                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <table class="table administrator-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="administrator-heading">Administrator</td>
                                                            <td class="administrator-name">M. Jamal Qaddoura</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Phone</td>
                                                            <td class="box-size-num">37623329</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Mobile</td>
                                                            <td class="box-size-num">0507639907</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">e-mail</td>
                                                            <td class="box-size-num"> info@nooralsham.com<br> jamalbme@hotmail.com

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Title</td>
                                                            <td class="box-size-num">
                                                                Al Falah Street - Abu Dhabi - United Arab Emirates - P.O.Box: 16083
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">


                                            <h5 class="mb-0">
                                                <div>
                                                    <p class="united-arab"> Turkey - (+905) </p>
                                                </div>

                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                          <h1 class="distributor-name">Istanabul</h1>
                          <p class="distributor-comapny-info">Samarketing</p>
                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                <table class="table administrator-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="administrator-heading">Administrator</td>
                                                            <td class="administrator-name">M. Jamal Qaddoura</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Phone</td>
                                                            <td class="box-size-num">37623329</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Mobile</td>
                                                            <td class="box-size-num">0507639907</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">e-mail</td>
                                                            <td class="box-size-num"> info@nooralsham.com<br> jamalbme@hotmail.com

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Title</td>
                                                            <td class="box-size-num">
                                                                Al Falah Street - Abu Dhabi - United Arab Emirates - P.O.Box: 16083
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="branches" role="tabpanel" aria-labelledby="branches-tab">
                                <p class="company-provider-info"> {{'contact-us.description-about-us' | translate}}</p>

                                <div id="accordion" class="distributer-info">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <div>
                                                    <p class="united-arab"> - (+971) The United Arab Emirates</p>
                                                </div>

                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h1 class="distributor-name">Abu Dhabi</h1>
                          <p class="distributor-comapny-info">Nour Al-Sham Computer Company</p>
                        </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <table class="table administrator-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="administrator-heading">Administrator</td>
                                                            <td class="administrator-name">M. Jamal Qaddoura</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Phone</td>
                                                            <td class="box-size-num">37623329</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Mobile</td>
                                                            <td class="box-size-num">0507639907</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">e-mail</td>
                                                            <td class="box-size-num"> info@nooralsham.com<br> jamalbme@hotmail.com

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Title</td>
                                                            <td class="box-size-num">
                                                                Al Falah Street - Abu Dhabi - United Arab Emirates - P.O.Box: 16083
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">


                                            <h5 class="mb-0">
                                                <div>
                                                    <p class="united-arab"> - (+964) Iraq</p>
                                                </div>

                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          <h1 class="distributor-name">Baghdad</h1>
                          <p class="distributor-comapny-info">Al-Ayham Software Solutions</p>
                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <table class="table administrator-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="administrator-heading">Administrator</td>
                                                            <td class="administrator-name">M. Jamal Qaddoura</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Phone</td>
                                                            <td class="box-size-num">37623329</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Mobile</td>
                                                            <td class="box-size-num">0507639907</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">e-mail</td>
                                                            <td class="box-size-num"> info@nooralsham.com<br> jamalbme@hotmail.com

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Title</td>
                                                            <td class="box-size-num">
                                                                Al Falah Street - Abu Dhabi - United Arab Emirates - P.O.Box: 16083
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">


                                            <h5 class="mb-0">
                                                <div>
                                                    <p class="united-arab"> Turkey - (+905) </p>
                                                </div>

                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                          <h1 class="distributor-name">Istanabul</h1>
                          <p class="distributor-comapny-info">Samarketing</p>
                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                <table class="table administrator-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="administrator-heading">Administrator</td>
                                                            <td class="administrator-name">M. Jamal Qaddoura</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Phone</td>
                                                            <td class="box-size-num">37623329</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Mobile</td>
                                                            <td class="box-size-num">0507639907</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">e-mail</td>
                                                            <td class="box-size-num"> info@nooralsham.com<br> jamalbme@hotmail.com

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="box-size">Title</td>
                                                            <td class="box-size-num">
                                                                Al Falah Street - Abu Dhabi - United Arab Emirates - P.O.Box: 16083
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="address-map-image-box">

                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3781.9263720054264!2d73.78436381436954!3d18.577357872284814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1skolte%20patil%20%20pimple%20nilakh%20saudi%20arabia!5e0!3m2!1sen!2sin!4v1597143136303!5m2!1sen!2sin"
                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="call-us-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="callus-heading">{{'general.call-us' | translate}}</h1>
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="{{'general.your-mail' | translate}}">
                            <input type="text" class="form-control" placeholder="{{'general.your-name' | translate}} ">
                            <input type="text" class="form-control" placeholder="{{'general.topic' | translate}}" style="margin-right:0px !important">
                            <textarea class="form-control" rows="5" placeholder="{{'general.message' | translate}}"></textarea>
                            <button type="button" class="btn btn-primary send-btn">{{'general.send' | translate}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="backdrop border-top p-5 quick_inquiry_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section_heading">
                            <h4>{{'general.quick-inquiry' | translate}}</h4>
                            <h1>{{'general.want-more-information?' | translate}}</h1>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="inquiry_form_main">
                            <form action="" name="inquiry-form-main" class="inquiry-form">
                                <div class="form-wrapper">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{'general.your-name' | translate}}">
                                        <input type="tel" class="form-control" placeholder="{{'general.phone-number' | translate}}">
                                        <input type="email" class="form-control" placeholder="{{'general.Email-ID' | translate}}">
                                        <select class="form-control" id="select">
                      <option selected>{{'general.project' | translate}}</option>
                      <option>Project 1</option>
                      <option>Project 2</option>
                      <option>Project 2</option>
                      <option>Project 2</option>
                    </select>
                                        <img src="../assets/images/property/next.png" class="custom-selectimg" alt="next-01">
                                    </div>
                                    <div class="form-button">
                                        <button class="form-btn-common inquiry-form-btn">
                      <span class="call-img"><img src="../assets/images/form-call-img.png" alt="forms-call-img"
                          width="25px">
                        {{'general.get-call-back' | translate}}</span>
                      <!-- <span class="get-call-text"></span> -->
                    </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </section>
    </main>

</div>



<!-- Normal JS -->
<!-- <script src="../node_modules/jquery/dist/jquery.slim.min.js "></script>

<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js "></script> -->


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "></script>
<script src="../node_modules/owl.carousel/dist/owl.carousel.min.js "></script>
<script src="js/main.js "></script>
<script src="js/owl-carousels.js "></script>
<script src="js/browser-class.js "></script>  -->

<!-- Minified Combine JS -->
<!-- <script src="js/bundle.min.js "></script> -->
