<section class="inner-page-wrapper inner-page-auction">
    <div class="container">
        <app-tabulator [idColName]="'id'" [childRowData]="maintenanceContracts" [parentColName]="'groupId'"
            [divId]="'MaintenanceContracts'" [columnSettings]="columnNames" [componentName]="'maintenanceContracts'"
            (onAddItem)="openMaintenanceContracts()" (onMenuActionSelected)="onMenuActionSelected($event)"
            [showMenuOptions]="menuOptions" [refreshGrid]="isListEmpty" [direction]="direction" [sortByList]="sortByCols"
            [groupByList]="groupByCols" [panelId]="panelId" [searchFilters]="searchFilters"
            (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'MaintenanceContracts'">
        </app-tabulator>
    </div>
</section>
