<div class="apartments-info-box" style="background: white; border: 0px;">
    <div class="p-1">
        <div style="text-align: -webkit-center;">
            <img style="border-radius: 1.375rem;" src="../assets/images/property/04.png" height="143px" width="134px" alt="apartments-01"/>
        </div>

    </div>
    <div class="discrptions-realState-map" >
        <div class="contact-box-right contact-price">
            <h1 >{{opportunity.price}}
                {{'website.currency'|translate}}</h1>
        </div>
        <p class="contact-status">{{opportunity.description.slice(0,80)}}</p>
    </div>
    <div class="clearboth"></div>
</div>