.contact-price{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center !important;
    color: #3E4958;

}
.contact-status{
    font-family: Barlow;
    font-size: 12px !important;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center !important;
    color: #3E4958;

}