
<section class="inner-page-wrapper inner-page-auction">
    <div class="container">
        <app-tabulator [idColName]="'id'" [childRowData]="vouchers" [parentColName]="'groupId'" [divId]="'Vouchers'"
        [columnSettings]="columnNames" [componentName]="'Voucher-List'" (onAddItem)="openVouchers()"
        (onMenuActionSelected)="onMenuActionSelected($event)"
            [showMenuOptions]="menuOptions" [direction]="direction" [sortByList]="sortByCols"
            [groupByList]="groupByCols" [refreshGrid]="isListEmpty" [panelId]="panelId" [searchFilters]="searchFilters"
            (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'Vouchers'"></app-tabulator>
    </div>
  </section>
