.inner-page-wrapper {
  #breadcrumbs {
    margin-left: 7px;
  }
  .lease-header-title {
    margin-left: 0px;
  }
  .settings-wrapper {
    background-color: #FAFAFA;
    padding: 30px;
    .main-screen {
      background: $white 0% 0% no-repeat padding-box;
      border: 1px solid #E9E9E9;
      border-radius: 5px;
      opacity: 1;
      padding: 20px;
      margin-top: 10px;
      .main-section-info {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 0;
        .list-section {
          font-size: 1.25rem;
          color: #333333;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
        }
      }
      .main-upper-section {
        .subtitle-info {
          font-size: 1.125rem;
          color: $gray30;
          line-height: 22px;
          text-align: left;
          font-weight: 600;
        }
      }
    }
    /*section*/
    .main-auction {
      hr {
        margin-top: 1.3rem;
      }
      .wrapper-title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .section-name {
          font-size: 1.5rem;
          color: $gray30;
          line-height: 22px;
          text-align: left;
          font-weight: 500;
        }
      }
    }
  }
  .settings-section {
    .building-info {
      font-size: 1.125rem;
      color: $gray30;
      line-height: 22px;
      text-align: left;
      font-weight: 500;
    }
    .file-box {
      padding: 0 0 0 20px;

      @include bp(ipad){
        padding: 0;
      }
      @include bp(mobile){
        padding: 0;
      }

      .file-detail {
        margin: -10px 0;
        .file-type {
          background: $gallery;
          border-radius: 2px;
          opacity: 1;
          padding: 5px 12px;
          color: $genoa;
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 17px;
          margin: 6px 0;
        }
        .file-size {
          border-radius: 2px;
          opacity: 1;
          width: 100%;
          display: block;
          font-weight: 500;
          text-align: left;
          line-height: 17px;
          padding: 3px 10px 4px 10px;
          background-color: #EBEBEB;
          font-size: 14px;
          color: #6E768E;
          margin: 6px 0;
        }
      }
      .image-preview {
        background: $snow 0% 0% no-repeat padding-box;
        border: 1px solid $white-col;
        border-radius: 5px;
        opacity: 1;
        width: 75px;
        height: 75px;
        margin-top: 20px;
      }
      .file-action {
        margin: 30px 0;
        .file-name {
          font-size: 0.875rem;
          font-weight: 600;
          color: $gray20;
          line-height: 21px;
          text-align: left;
          margin: 5px 0px;
        }
        .view-section::before {
          font-size: 0.625rem;
          color: $slate-gray;
          opacity: 1;
          font-weight: 600;
        }
        .show {
          margin: 1px 10px;
          font-size: 0.8125rem;
          font-weight: 400;
          line-height: 16px;
          color: $slate-gray;
        }
      }
    }
  }
}


/***********************screen Media queries********************************/

@include bp(ipad){
  .inner-page-wrapper {
    .settings-wrapper {
      .main-screen {
        .main-upper-section {
          .subtitle-info {
            font-size: 1.125rem;
          }
        }
        .main-section-info {
          .list-section {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@include bp(ipad){
  .inner-page-wrapper {
    .settings-section {
      .file-box {
    
        .file-action {
          margin: 30px 15px;
        }
      }
    }
    .settings-wrapper {
    
      .main-screen {
        .main-upper-section {
          .subtitle-info {
            font-size: 1.125rem;
          }
        }
        .main-section-info {
          .list-section {
            font-size: 1rem;
          }
        }
      }
    }
    .settings-save-btn {
      width: 100%;
      display: block;
    }
  }
}

@include bp(mobile){
  .inner-page-wrapper {
    #breadcrumbs {
      white-space: nowrap;
    }
    .settings-section {
      .upload-info {
        margin: 0px -7px;
        padding: 0 9px;
      }
      .file-box {
        .file-action {
          margin: 30px 0px;
        }
      }
    }
    .lease-header-title {
      font-size: 1.3rem;
    }
    .lease-header-title {
      margin-left: 0px !important;
    }
    .settings-section {
      padding: 10px !important;
      .settings-title {
        font-size: 1rem !important;
      }
      .file-action{
        margin: 30px 15px;
      }
    }
    .settings-wrapper {
      padding: 10px !important;
      .main-screen {
        .main-upper-section {
          .subtitle-info {
            font-size: 1rem;
          }
        }
        .main-section-info {
          .list-section {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@include bp(iphone5){
  .inner-page-wrapper {
    #breadcrumbs {
      white-space: nowrap;
    }
    .settings-section {
      .file-box {
        .file-action {
          margin: 30px 0px;
        }
      }
    }
    .settings-wrapper {
      .btn-custom {
        width: 100%;
        display: block;
      }
      .file-action{
        margin: 30px 15px;
      }
      .main-screen {
        .main-upper-section {
          .subtitle-info {
            font-size: 1rem;
          }
        }
        .main-section-info {
          .list-section {
            font-size: 1rem;
          }
        }
      }
    }
  }
}