<div *ngIf="isRepeatedUnit" class="validation alert-danger">
  <i class="fa fa-close "></i>&nbsp;

  <span *ngIf="isRepeatedUnit">{{'validation-messages.unit-offer-repeated'|translate}}</span>

</div>
<div *ngIf="isInvalidData" class="validation alert-danger">
  <i class="fa fa-close "></i>&nbsp;

  <span *ngIf="isInvalidData">{{'validation-messages.invalid-data'|translate}}</span>

</div>
<table class="table table-bordered text-center table-striped0 ">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col" style="width: 150px;">{{'page-form.unit-name'|translate}}</th>
      <th scope="col">{{'page-form.area-size'|translate}}</th>
      <th scope="col">{{'page-form.meter-price'|translate}}</th>
      <th scope="col">{{'page-form.annual-rent'|translate}}</th>
      <th scope="col">{{'page-form.monthly-rent'|translate}}</th>
      <th scope="col">{{'page-form.insurance-ratio'|translate}} %</th>
      <th scope="col">{{'page-form.insurrance-value'|translate}}</th>
      <th scope="col">{{'page-form.tax-ratio'|translate}} %</th>
      <th scope="col">{{'page-form.tax-value'|translate}}</th>
      <th scope="col" colspan="1">{{'page-form.actions'|translate}}</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of selectedUnits; let i= index;">
      <td>
        {{i+1}}
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{'general.search'|translate}}"
            (keydown.Enter)="openUnitSearchDialog(i)" [(ngModel)]="item.unitNameAr"
            (ngModelChange)="getUnitDataForUpdate(selectedUnits[i].unitId,i);checkUnits(selectedUnits[i].unitId)">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="areaSize" [(ngModel)]="item.areaSize"
            (change)="getAddedUnitDetails(item)">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="pricePerMeter"
            [(ngModel)]="item.meterPrice" (change)="getAddedUnitDetails(item)">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="annualRent" [(ngModel)]="item.annualRent">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="monthlyRent"
            [(ngModel)]="item.monthlyRent">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="insuranceRatio"
            [(ngModel)]="item.insuranceRatio" (change)="getAddedUnitDetails(item)">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="inssuranceAmount"
            [(ngModel)]="item.inssuranceAmount">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="taxRatio" [(ngModel)]="item.taxRatio"
            (change)="getAddedUnitDetails(item)">
        </div>
      </td>
      <td>
        <div class="form-group m-0">
          <input type="number" step="0.01" min="0" class="form-control" name="taxesAmount"
            [(ngModel)]="item.taxesAmount">
        </div>
      </td>

      <td>
        <button type="button" class="btn btn-secondary px-3 " (click)="updateUnitData(item)"><i
            class="fa fa-edit"></i></button>

        <button class="btn btn-danger px-3" (click)="deletetUnit(item)" type="button">

          <i class="las la-trash-alt"></i>
        </button>
      </td>


    </tr>

    <!-- <tr *ngFor="let item of selectedUnits; let i= index">
                <td>{{item.unitNameEn}}</td>
                <td>{{item.areaSize}}</td>
                <td>{{item.meterPrice}}</td>
                <td>{{item.annualRent}}</td>
                <td>{{item.monthlyRent}}</td>
                <td>{{item.insuranceRatio}}</td>
                <td>{{item.inssuranceAmount}}</td>
                <td>{{item.taxRatio}}</td>
                <td>{{item.taxesAmount}}</td>

                <td>
                    <button (click)="deletetUnit(item)" class="btn btn-danger px-3">
                        <i class="las la-trash-alt"></i>
                    </button>
                    <button (click)="editUnit(item)" class="btn btn-secondary px-3">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr> -->
    <tr>
      <td colspan="9" rowspan="9"></td>
      <td></td>
    </tr>
  </tbody>
</table>
<form [formGroup]="UnitForm" id="UnitFormSubmit">
  <table class="table table-bordered text-center table-striped0 ">
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{selectedUnits.length + 1}}</td>
        <td>
          <div class="input-group">
            <!-- <ng-select formControlName="unitId"  style="width:100%" name="unitId" (change)="getUnitData(UnitForm.value.unitId);checkUnits(UnitForm.value.unitId)">
                        <ng-option *ngFor="let item of units" [value]="item.id">{{item.unitNameEn}}
                        </ng-option>
                    </ng-select> -->
            <input type="text" class="form-control" placeholder="{{'general.search'|translate}}"
              (keydown.Enter)="openUnitSearchDialog(-1)" [(ngModel)]="selectedRentContractUnits.unitNameAr"
              formControlName="unitNameAr"
              (ngModelChange)="getUnitData(selectedRentContractUnits.unitId);checkUnits(selectedRentContractUnits.unitId)">

          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="areaSize"
              [(ngModel)]="selectedRentContractUnits.areaSize" formControlName="areaSize" (change)="getUnitDetails()">
          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="pricePerMeter"
              [(ngModel)]="selectedRentContractUnits.meterPrice" formControlName="pricePerMeter"
              (change)="getUnitDetails()">
          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="annualRent"
              [(ngModel)]="selectedRentContractUnits.annualRent" formControlName="annualRent">
          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="monthlyRent"
              [(ngModel)]="selectedRentContractUnits.monthlyRent" formControlName="monthlyRent">
          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="insuranceRatio"
              [(ngModel)]="selectedRentContractUnits.insuranceRatio" formControlName="insuranceRatio"
              (change)="getUnitDetails()">
          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="inssuranceAmount"
              [(ngModel)]="selectedRentContractUnits.inssuranceAmount" formControlName="inssuranceAmount">
          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="taxRatio" formControlName="taxRatio"
              [(ngModel)]="selectedRentContractUnits.taxRatio" (change)="getUnitDetails()">
          </div>
        </td>
        <td>
          <div class="form-group m-0">
            <input type="number" step="0.01" min="0" class="form-control" name="taxesAmount"
              [(ngModel)]="selectedRentContractUnits.taxesAmount" formControlName="taxesAmount">
          </div>
        </td>
        <!-- <td>
                <button type="button"  *ngIf="isUpdate==false" class="btn btn-primary px-3 " (click)="addUnitData()"><i class="las la-plus"></i> </button>
                <button *ngIf="isUpdate" type="button" class="btn btn-secondary px-3 " (click)="updateUnitData()"><i class="fa fa-edit"></i></button>
                <button *ngIf="isUpdate" type="button" class="btn btn-danger  px-3 " (click)="cancelEdit()"><i class="fa fa-close"></i></button>
            </td> -->

        <td>
          <button class="btn btn-primary px-3" (click)="addUnitData()" type="button">
            <i class="las la-plus"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>