 <!-- Section ------------------------------------ -->
 <section class="inner-page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lease-header-title">Control Required Fields</h1>
          <ul id="breadcrumbs">
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="#">Control Required Fields</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-section">
            <h1 class="settings-title">Select Department and Control Fields</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="main-wrap">
                  <div class="wrapper-title">
                    <p class="settings-subtitle">Field Name for Servants</p>
                    <select class="form-control servants" data-blast="borderColor">
                      <option>Servants</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-md-4 col-sm-12 ">
                      <div class="checkbox-wrapper">
                        <h5>users</h5>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="latin-name">
                            <label for="latin-name"></label>
                            <span class="">The Delegate's Name Is Latin</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="arabic-name">
                            <label for="arabic-name"></label>
                            <span>The Delegate's Name In Arabic</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="landline" />
                            <label for="landline"></label>
                            <span>Landline {{'page-form.phone-number'|translate}}</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="mobile-number" />
                            <label for="mobile-number"></label>
                            <span>{{'page-form.mobile-number'|translate}}</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="fax-number" />
                            <label for="fax-number"></label>
                            <span>Fax Number</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="email" />
                            <label for="email"></label>
                            <span>Email</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="phone-number" />
                            <label for="phone-number"></label>
                            <span>Landline {{'page-form.phone-number'|translate}}</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="id-card-number" />
                            <label for="id-card-number"></label>
                            <span>ID Card Number</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="id-card" />
                            <label for="id-card"></label>
                            <span>Where To Obtain An ID Card</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="detail-address" />
                            <label for="detail-address"></label>
                            <span>Detailed Address</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                      <div class="verticle-line"></div>
                      <div class="checkbox-wrapper second-list">
                        <h5>users</h5>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="nationality" />
                            <label for="nationality"></label>
                            <span class="">Nationality</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="occupation" />
                            <label for="occupation"></label>
                            <span>Occupation</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="postal-code" />
                            <label for="postal-code"></label>
                            <span>Postal Code</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="symbol" />
                            <label for="symbol"></label>
                            <span>Additional Symbol</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="Office" />
                            <label for="Office"></label>
                            <span>User's Real Estate Office</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="city" />
                            <label for="city"></label>
                            <span>{{'page-form.city'|translate}}</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="district" />
                            <label for="district"></label>
                            <span>{{'page-form.district'|translate}}</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="block-number" />
                            <label for="block-number"></label>
                            <span>Block Number</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="appt-number" />
                            <label for="appt-number"></label>
                            <span>Apartment Number</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                      <div class="verticle-line"></div>
                      <div class="checkbox-wrapper second-list">
                        <h5>users</h5>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="nationality" />
                            <label for="nationality"></label>
                            <span class="">Nationality</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="occupation" />
                            <label for="occupation"></label>
                            <span>Occupation</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="postal-code" />
                            <label for="postal-code"></label>
                            <span>Postal Code</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="symbol" />
                            <label for="symbol"></label>
                            <span>Additional Symbol</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="Office" />
                            <label for="Office"></label>
                            <span>User's Real Estate Office</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="city" />
                            <label for="city"></label>
                            <span>{{'page-form.city'|translate}}</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="district" />
                            <label for="district"></label>
                            <span>{{'page-form.district'|translate}}</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="block-number" />
                            <label for="block-number"></label>
                            <span>Block Number</span>
                          </li>
                        </ul>
                        <ul class="list-wrap">
                          <li>
                            <input type="checkbox" id="appt-number" />
                            <label for="appt-number"></label>
                            <span>Apartment Number</span>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-section">
            <a href="#" class="btn btn-highlight btn-lg btn-save">Save</a>
          </div>
        </div>
      </div>
    </div>
  </section>
