
<section class="inner-page-wrapper inner-page-auction">
    <div class="container">
        <app-tabulator [idColName]="'id'" [childRowData]="entryTypes" [parentColName]="'groupId'" [divId]="'EntryTypes'"
        [columnSettings]="columnNames" [componentName]="'EntryTypes'" (onAddItem)="openEntryTypes()"
        (onMenuActionSelected)="onMenuActionSelected($event)"
            [showMenuOptions]="menuOptions" [direction]="direction" [sortByList]="sortByCols"
            [groupByList]="groupByCols" [panelId]="panelId" [searchFilters]="searchFilters"
            (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'EntryTypes'"></app-tabulator>
    </div>
  </section>
