<!-- Section  -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white ;font-size: 20px;"> {{'page-form.loading'|translate}} </p>
</ngx-spinner>

<section class="inner-page-wrapper inner-page-wrapper-units">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card m-0">
          <div class="card-body">
            <form [formGroup]="NationalitiesForm" id="NationalitiesSubmit" class="tabs-form">
              <div class="main-customer">
                <div class="wrapper-title">
                  <h3>{{'page-form.nationality-information'|translate}}</h3>
                  <div class="row">
                    <div class="col gap-2 grid grid-cols-2">

                      <div class=" ">
                        <label for="nationalityNameAr" class="label-name"><span class="text-danger">*</span>
                          {{'page-form.name-arabic'|translate}}</label>
                        <div class="form-group">

                          <input type="text" class="form-control icon-user" name="nationalityNameAr"
                            formControlName="nationalityNameAr">
                          <div *ngIf="f['nationalityNameAr'].touched && f['nationalityNameAr'].invalid"
                            class=" alert-danger validtion">
                            <div *ngIf="f['nationalityNameAr'].errors && f['nationalityNameAr'].invalid">
                              <i class="fa fa-close "></i> {{'validation-messages.invalid-name'|translate}}
                            </div>
                            <div *ngIf="f['nationalityNameAr'].errors && f['nationalityNameAr'].errors['minlength']">
                              <i class="fa fa-close "></i> {{'validation-messages.min-name-char'|translate}}
                            </div>
                            <div *ngIf="f['nationalityNameAr'].errors && f['nationalityNameAr'].errors['maxlength']">
                              <i class="fa fa-close "></i> {{'validation-messages.max-name-char'|translate}}
                            </div>
                            <div *ngIf="f['nationalityNameAr'].errors && f['nationalityNameAr'].errors['pattern'] ">
                              <i class="fa fa-times"></i>{{'error.space'|translate}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class=" ">
                        <label for="nationalityNameEn" class="label-name"><span class="text-danger">*</span>
                          {{'page-form.name-latin'|translate}}</label>
                        <div class="form-group">

                          <input type="text" class="form-control icon-user" name="nationalityNameEn"
                            formControlName="nationalityNameEn">
                          <div *ngIf="f['nationalityNameEn'].touched && f['nationalityNameEn'].invalid"
                            class=" alert-danger validtion">
                            <div *ngIf="f['nationalityNameEn'].errors && f['nationalityNameEn'].invalid">
                              <i class="fa fa-close "></i> {{'validation-messages.invalid-name'|translate}}
                            </div>
                            <div *ngIf="f['nationalityNameEn'].errors && f['nationalityNameEn'].errors['minlength']">
                              <i class="fa fa-close "></i> {{'validation-messages.min-name-char'|translate}}
                            </div>
                            <div *ngIf="f['nationalityNameEn'].errors && f['nationalityNameEn'].errors['maxlength']">
                              <i class="fa fa-close "></i> {{'validation-messages.max-name-char'|translate}}
                            </div>
                            <div *ngIf="f['nationalityNameEn'].errors && f['nationalityNameEn'].errors['pattern'] ">
                              <i class="fa fa-times"></i>{{'error.space'|translate}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="list list-container-add">
  <app-nationalities-list [changeNationalitiesFlag]="changeNationalitiesFlag"></app-nationalities-list>
</div>