  <!-- Section ------------------------------------ -->
  <section class="inner-page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lease-header-title">Screen Section</h1>
          <ul id="breadcrumbs">
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="settings__real-estate-market-equipment.html">Real Estate Market Equipment</a>
            </li>
            <li>
              <a href="#"> Screen Section</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-section">
            <h1 class="settings-title">Sections of the main upper</h1>
            <hr class="mt-4 mb-0">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="main-screen">
                      <div class="main-upper-section">
                        <p class="subtitle-info">The Main Upper Sections</p>
                        <hr class="mt-4 mb-0">
                      </div>
                      <div class="main-section-info">
                        <div>
                          <p class="list-section">Main</p>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action" data-toggle="modal" data-target="#myModal">
                          <i class="fas fa-edit" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                      <div class="main-section-info">
                        <div>
                          <p class="list-section">Information About Us</p>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action" data-toggle="modal" data-target="#myModal">
                          <i class="fas fa-edit" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                      <div class="main-section-info">
                        <div>
                          <p class="list-section">Recently Added</p>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action" data-toggle="modal" data-target="#myModal">
                          <i class="fas fa-edit" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                      <div class="main-section-info">
                        <div>
                          <p class="list-section">Call Us</p>
                        </div>
                        <div>
                          <button type="button" class="btn btn-action" data-toggle="modal" data-target="#myModal">
                          <i class="fas fa-edit" data-blast="color"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xl-12">
                        <label for="name-arabic" class="label-name">List name in Arabic</label>
                        <div class="input-group">
                          <input type="text" class="text-input" name="name-arabic">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12 col-lg-12 col-xl-12">
                        <label for="name-english" class="label-name">List name in English</label>
                        <div class="input-group">
                          <input type="text" class="text-input" name="name-english">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mt-4">
                          <button type="button" class="btn btn-default btn-lg" data-blast="borderColor">Update</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="settings-section">
            <a href="#" class="btn btn-highlight btn-lg">Save</a>
          </div>
        </div>
      </div>
    </div>
  </section>