<p>menu works!</p>
    <!-- Section ------------------------------------ -->
    <section class="inner-page-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="lease-header-title">Menu Setting and Basic Picture</h1>
              <ul id="breadcrumbs">
                <li>
                  <a href="#">Settings</a>
                </li>
                <li>
                  <a href="settings__real-estate-market-equipment.html">Real Estate Market Equipment</a>
                </li>
                <li>
                  <a href="#">Menu Settingsn</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="settings-section">
                <h1 class="settings-title">Real Estate Market Equipment</h1>
                <hr class="mt-4 mb-0">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pr-0 pr-md-0">
                    <!-- Upload  -->
                    <div class="w-100 mt-4 upload-info">
                      <form id="file-upload-form" class="uploader">
                        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                        <label for="file-upload" id="file-drag">
                          <img id="file-image" src="#" alt="Preview" class="hidden">
                          <div id="start">
                            <img src="images/photo.svg" alt="image">
                            <!-- <i class="fa fa-download" aria-hidden="true"></i> -->
                            <p>Drag and drop you file</p>
                            <div id="notimage" class="hidden">Please select an image</div>
                            <span class="or">Or</span>
                            <span id="file-upload-btn" class="btn btn-default" data-blast="color">Upload</span>
                          </div>
                          <div id="response" class="hidden">
                            <div id="messages"></div>
                            <!-- <progress class="progress" id="file-progress" value="0">
                              <span>0</span>%
                              </progress> -->
                          </div>
                        </label>
                      </form>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="input-group mb-3 mt-3 file-box">
                      <p class="building-info">The Main Photo Or Video</p>
                      <div class="file-detail">
                        <p class="file-type">Photo Extensions Recommended .jpg | .jpeg | .png | .gif</p>
                        <p class="file-size">The allowed image size is 1920 pixels by 1080 pixels</p>
                        <p class="file-size">Video Extension Recommended .mp4</p>
                        <p class="file-size">The video size does not exceed 15 MB</p>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6 pr-0">
                          <div class="image-preview">
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6 pl-0">
                          <div class="file-action">
                            <p class="file-name">File name.jpg</p>
                            <div class="d-flex">
                              <i class="far fa-eye view-section"></i>
                              <span class="show">show</span>
                              <i class="far fa-trash-alt view-section"></i>
                              <span class="show">Delete</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="settings-wrapper">
                <div class="row">
                  <div class="col-md-12">
                    <div class="main-auction">
                      <div class="wrapper-title">
                        <p class="subtitle">Sections</p>
                        <a href="settings__add-edit-list.html" class="btn btn-custom" data-blast="bgColor">Add or Edit List</a>
                      </div>
                      <hr/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12 col-lg-6 col-xl-6">
                        <div class="main-screen">
                          <div class="main-upper-section">
                            <p class="subtitle-info">The Main Upper Sections</p>
                            <hr class="mt-4 mb-0">
                          </div>
                          <div class="main-section-info">
                            <div class="checkbox-wrapper">
                              <ul class="list-wrap">
                                <li>
                                  <input type="checkbox" id="main" />
                                  <label for="main"></label>
                                  <span class="list-section">Main</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="main-section-info">
                            <div class="checkbox-wrapper">
                              <ul class="list-wrap">
                                <li>
                                  <input type="checkbox" id="information" />
                                  <label for="information"></label>
                                  <span class="list-section">Information About Us</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="main-section-info">
                            <div class="checkbox-wrapper">
                              <ul class="list-wrap">
                                <li>
                                  <input type="checkbox" id="recent-add" />
                                  <label for="recent-add"></label>
                                  <span class="list-section">Recently Added </span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="main-section-info">
                            <div class="checkbox-wrapper">
                              <ul class="list-wrap">
                                <li>
                                  <input type="checkbox" id="call-us" />
                                  <label for="call-us"></label>
                                  <span class="list-section">Call Us </span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-lg-6 col-xl-6">
                        <div class="main-screen">
                          <div class="main-upper-section">
                            <p class="subtitle-info">Lower Main Sections</p>
                            <hr class="mt-4 mb-0">
                          </div>
                          <div class="main-section-info">
                            <div class="checkbox-wrapper">
                              <ul class="list-wrap">
                                <li>
                                  <input type="checkbox" id="vision" />
                                  <label for="vision"></label>
                                  <span class="list-section">Our Vision</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="settings-section">
                <a href="#" class="btn btn-highlight">Save</a>
              </div>
            </div>
          </div>
        </div>
      </section>