<!-- Section ------------------------------------ -->
<section class="inner-page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lease-header-title">Real Estate Market Equipment</h1>
                <ul id="breadcrumbs">
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <a href="#">Real Estate Market Equipment</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3 mr-2 mt-2 btn-settings">
                    <a href="settings__reme_menu-setting.html" class="btn btn-default" data-blast="borderColor">Menu Settings</a>
                    <a href="settings__reme_site-info-settings.html" class="btn btn-default" data-blast="borderColor">Site Info
                Settings</a>
                    <a href="settings__reme_screen-section.html" class="btn btn-default" data-blast="borderColor">Screen Sections</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="settings-section">
                    <h1 class="settings-title">Site Information Settings</h1>
                    <hr class="mt-4 mb-0">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6 pr-3 pr-md-0">
                            <!-- Upload  -->
                            <div class="w-100 mt-4">
                                <form id="file-upload-form" class="uploader">
                                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                    <label for="file-upload" id="file-drag">
                      <div id="start">
                        <img src="images/photo.svg" alt="image">
                        <p>Drag and drop you file</p>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span class="or">Or</span><span id="file-upload-btn" class="btn btn-default" data-blast="color">Upload</span>
                      </div>
                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
                            <div class="input-group mb-3 mt-3">
                                <p class="building-info">Choose An Image About Us</p>
                                <p class="file-type">Recommended file extensions .jpg | .jpeg | .png | .gif | .mp4 | .doc | .xlsx | .txt</p>
                                <div class="image-preview1">
                                    <form id="file-upload-form" class="uploader">
                                        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                        <div class="row">
                                            <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-3 pr-0 img-wrap">
                                                <label for="file-upload" id="file-drag">
                          <img id="file-image" src="#" alt="Preview" class="hidden">
                          </label>
                                            </div>
                                            <div class="col-8 col-sm-9 col-md-9 col-lg-8 col-xl-9 pl-4 pl-sm-0 img-name">
                                                <div id="response" class="hidden">
                                                    <div id="messages"></div>
                                                    <div class="d-flex align-items-center">
                                                        <i class="far fa-sm fa-eye view-section"></i><span class="show">show</span>
                                                        <i class="far fa-sm fa-trash-alt view-section"></i><span class="show">Delete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="settings-wrapper">
                            <div class="heading--subtitle">Browser Icon Image</div>
                            <div class="table-responsive0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Download</th>
                                            <th>Processing</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>XYZ.png</td>
                                            <td><i class="far fa-arrow-alt-circle-down" data-blast="color"></i> Download</td>
                                            <td>Survey <i class="fas fa-times" data-blast="color"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="settings-section">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6 pr-3 pr-md-0">
                            <!-- Upload  -->
                            <div class="w-100 mt-4">
                                <form id="file-upload-form" class="uploader">
                                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                    <label for="file-upload" id="file-drag">
                      <div id="start">
                        <img src="images/photo.svg" alt="image">
                        <p>Drag and drop you file</p>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span class="or">Or</span><span id="file-upload-btn" class="btn btn-default" data-blast="color">Upload</span>
                      </div>
                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="input-group mb-3 mt-3">
                                <p class="building-info">Choose An Image About Us</p>
                                <p class="file-type">Recommended file extensions .jpg | .jpeg | .png | .gif | .mp4 | .doc | .xlsx | .txt</p>
                                <div class="image-preview1">
                                    <form id="file-upload-form" class="uploader">
                                        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                        <div class="row">
                                            <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-3 pr-0 img-wrap">
                                                <label for="file-upload" id="file-drag">
                          <img id="file-image" src="#" alt="Preview" class="hidden">
                          </label>
                                            </div>
                                            <div class="col-8 col-sm-9 col-md-9 col-lg-8 col-xl-9 pl-4 pl-sm-0 img-name">
                                                <div id="response" class="hidden">
                                                    <div id="messages"></div>
                                                    <div class="d-flex align-items-center">
                                                        <i class="far fa-sm fa-eye view-section"></i><span class="show">show</span>
                                                        <i class="far fa-sm fa-trash-alt view-section"></i><span class="show">Delete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6 pr-0 pr-md-0">
                            <div class="building-info">Description Of The Site</div>
                            <div class="input-group mb-3">
                                <textarea class="form-control" rows="4" name="detail-address" placeholder="Enter description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="input-group mb-3 mt-3 file-box">
                                <p class="site-desc">The recommended description size does not exceed 86 letters</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-4 dot-line"></div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 pr-0 pr-md-0">
                            <p class="settings-title">Social Media Settings</p>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="enter-link" class="add-link">Add A Link</label>
                            <div class="input-group mt-1 mb-3">
                                <input type="text" class="form-control" name="enter-link" placeholder="Enter Link">
                            </div>
                            <a class="btn btn-default mt-1 btn-lg" data-blast="borderColor">Add Link</a>
                            <div class="mt-3 social-message">
                                <p class="m-0">The recommended paths The social site is like this: https://www.sample.com</p>
                                <p class="mt-2">It is better to be among these sites<span class="social-icon-links"><a
                                                        href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a
                                                        href="https://twitter.com/" target="_blank"><i class="fab fa-twitter" target="_blank"
                                                          aria-hidden="true"></i></a> <a href="https://www.instagram.com/" target="_blank"><i
                                                          class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/" target="_blank"><i
                                                          class="fab fa-youtube" aria-hidden="true"></i></a> <a href="https://in.linkedin.com/" target="_blank"><i
                                                          class="fab fa-linkedin" aria-hidden="true"></i></a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="settings-wrapper">
                    <div class="heading--subtitle">Links</div>
                    <div class="table-responsive0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Link</th>
                                    <th>Processing</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>https://www.sample.com</td>
                                    <td><button type="button" class="btn btn-action"><i class="far fa-trash-alt delete-icon"
                                  data-blast="color"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="settings-section">
                    <a href="#" class="btn btn-highlight btn-lg">Save</a>
                </div>
            </div>
        </div>
    </div>
</section>
