<!-- Section  -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white ;font-size: 20px;"> {{'page-form.loading'|translate}}</p>
</ngx-spinner>

<section class="inner-page-wrapper inner-page-wrapper-units">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card m-0 mb-5">
          <div class="card-body">
            <form [formGroup]="CompanyInformationForm" id="CompanyInformationFormSubmit" (ngSubmit)="onUpdate()"
              class="tabs-form">
              <div class="main-unit">
                <div class="wrapper-title">
                  <h3>{{'page-form.company-information'|translate}}</h3>
                  <hr>
                  <!-- <hr> -->
                  <!-- start tabs -->
                  <ul ngbNav #nav="ngbNav" class="nav-tabs mt-3 vvv">

                    <li [ngbNavItem]>
                      <a ngbNavLink>{{'page-form.company-information'|translate}}</a>
                      <ng-template ngbNavContent>
                        <div class="row">
                          <div class="col gap-2 grid grid-cols-3 ">
                            <div class=" ">
                              <label for="companyNameAr"
                                class="label-name">{{'page-form.company-name-arabic'|translate}}
                              </label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="companyNameAr"
                                  formControlName="companyNameAr">
                                <div *ngIf="f['companyNameAr'].touched && f['companyNameAr'].invalid"
                                  class=" alert-danger validtion">
                                  <div *ngIf="f['companyNameAr'].errors && f['companyNameAr'].invalid">
                                    <i class="fa fa-close "></i> {{'validation-messages.invalid-name'|translate}}
                                  </div>
                                  <div *ngIf="f['companyNameAr'].errors && f['companyNameAr'].errors['minlength']">
                                    <i class="fa fa-close "></i> {{'validation-messages.min-name-char'|translate}}
                                  </div>
                                  <div *ngIf="f['companyNameAr'].errors && f['companyNameAr'].errors['maxlength']">
                                    <i class="fa fa-close "></i> {{'validation-messages.max-name-char'|translate}}
                                  </div>
                                  <div *ngIf="f['companyNameAr'].errors && f['companyNameAr'].errors['pattern'] ">
                                    <i class="fa fa-times"></i>{{'error.space'|translate}}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class=" ">
                              <label for="companyNameEn"
                                class="label-name">{{'page-form.company-name-latin'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="companyNameEn"
                                  formControlName="companyNameEn">
                                <div *ngIf="f['companyNameEn'].touched && f['companyNameEn'].invalid"
                                  class=" alert-danger validtion">
                                  <div *ngIf="f['companyNameEn'].errors && f['companyNameEn'].invalid">
                                    <i class="fa fa-close "></i> {{'validation-messages.invalid-name'|translate}}
                                  </div>
                                  <div *ngIf="f['companyNameEn'].errors && f['companyNameEn'].errors['minlength']">
                                    <i class="fa fa-close "></i> {{'validation-messages.min-name-char'|translate}}
                                  </div>
                                  <div *ngIf="f['companyNameEn'].errors && f['companyNameEn'].errors['maxlength']">
                                    <i class="fa fa-close "></i> {{'validation-messages.max-name-char'|translate}}
                                  </div>
                                  <div *ngIf="f['companyNameEn'].errors && f['companyNameEn'].errors['pattern'] ">
                                    <i class="fa fa-times"></i>{{'error.space'|translate}}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="">
                              <label for="companyActivityId"
                                class="label-name">{{'page-form.company-activity'|translate}}</label>
                              <div class="input-group  popup">
                                <ng-select formControlName="companyActivityId" style="width:100%">
                                  <ng-option *ngFor="let item of companiesActivities" [value]="item.id">
                                    {{lang=='ar'? item.activityNameAr:item.activityNameEn}}
                                  </ng-option>
                                </ng-select>
                              </div>
                            </div>
                            <div class=" ">
                              <label for="companyPhone"
                                class="label-name">{{'page-form.phone-number'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="companyPhone" maxLength="20"
                                  formControlName="companyPhone">
                                <div *ngIf="f['companyPhone'].touched && f['companyPhone'].invalid"
                                  class=" alert-danger validtion">
                                  <div *ngIf="f['companyPhone'].errors && f['companyPhone'].invalid">
                                    <i class="fa fa-close "></i> {{'validation-messages.invalid-mobile'|translate}}
                                  </div>
                                  <div *ngIf="f['companyPhone'].errors && f['companyPhone'].errors['pattern']">
                                    <i class="fa fa-close "></i> {{'validation-messages.phone-pattern'|translate}}
                                  </div>
                                </div>
                                <div
                                  *ngIf="(!CompanyInformationForm.get('companyPhone')?.hasError('pattern') && CompanyInformationForm.value.companyPhone!='') && CompanyInformationForm.get('companyPhone')?.valid"
                                  class="validtion alert-success">
                                  <i class="fa fa-check"></i> {{'validation-messages.valid-mobile'|translate}}
                                </div>
                                <div class="validtion alert-danger"
                                  *ngIf="(f['companyPhone'].touched && f['companyPhone'].errors) && f['companyPhone'].errors['required']">
                                  <i class="fa fa-close "></i> {{'general.required'|translate}}

                                </div>
                              </div>
                            </div>
                            <div class=" ">
                              <label for="companyMobile"
                                class="label-name">{{'page-form.mobile-number'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="companyMobile"
                                  formControlName="companyMobile">
                                <div class="validation alert-danger"
                                  *ngIf="CompanyInformationForm.get('companyMobile')?.touched && CompanyInformationForm.get('companyMobile')?.invalid">
                                  <div class="validation alert-danger"
                                    *ngIf="CompanyInformationForm.get('companyMobile')?.hasError('pattern')"> <i
                                      class="fa fa-close "></i> {{'validation-messages.invalid-mobile'|translate}}
                                  </div>
                                </div>
                                <div
                                  *ngIf="(!CompanyInformationForm.get('companyMobile')?.hasError('pattern') && CompanyInformationForm.value.companyMobile!='') && CompanyInformationForm.get('companyMobile')?.valid"
                                  class="validtion alert-success">
                                  <i class="fa fa-check"></i> {{'validation-messages.valid-mobile'|translate}}
                                </div>
                                <div class="validtion alert-danger"
                                  *ngIf="(f['companyMobile'].touched && f['companyMobile'].errors) && f['companyMobile'].errors['required']">
                                  <i class="fa fa-close "></i> {{'general.required'|translate}}

                                </div>
                              </div>
                            </div>
                            <div class=" ">
                              <label for="companyFax" class="label-name">{{'page-form.fax'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="companyFax" formControlName="companyFax">
                                <div *ngIf="f['companyFax'].touched && f['companyFax'].invalid"
                                  class=" alert-danger validtion">
                                  <div *ngIf="f['companyFax'].errors && f['companyFax'].invalid  ">
                                    <i class="fa fa-close"></i> {{'validation-messages.invalid-fax'|translate}}
                                  </div>
                                  <div *ngIf="f['companyFax'].errors && f['companyFax'].errors['pattern']">
                                    <i class="fa fa-close "></i> {{'validation-messages.phone-pattern'|translate}}
                                  </div>
                                </div>
                                <div
                                  *ngIf="(!CompanyInformationForm.get('companyFax')?.hasError('pattern') && CompanyInformationForm.value.companyFax!='') && CompanyInformationForm.get('companyFax')?.valid"
                                  class="validtion alert-success">
                                  <i class="fa fa-check"></i> {{'validation-messages.valid-mobile'|translate}}
                                </div>
                              </div>
                            </div>
                            <div class=" ">
                              <label for="companyPostalBoxNumber"
                                class="label-name">{{'page-form.postal-box-number'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="companyPostalBoxNumber"
                                  formControlName="companyPostalBoxNumber">
                              </div>
                            </div>
                            <div class=" ">
                              <label for="commercialRegisterNumber"
                                class="label-name">{{'page-form.commercial-register-number'|translate}}
                              </label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="commercialRegisterNumber"
                                  formControlName="commercialRegisterNumber">
                              </div>
                            </div>
                            <div class=" ">
                              <label for="taxNumber" class="label-name">{{'page-form.tax-number'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="taxNumber" formControlName="taxNumber">
                              </div>
                            </div>
                            <div class=" ">
                              <label for="" class="label-name">{{'page-form.commercial-register-date'|translate}}
                              </label>
                              <div class="form-group input-group">
                                <app-full-date name="commercialRegisterDate" [selectedDate]="commercialRegisterDate"
                                  (OnDateSelect)="getCommercialRegisterDate($event)">
                                </app-full-date>
                              </div>
                            </div>
                            <div class=" ">
                              <label for="" class="label-name">{{'page-form.commercial-register-expire-date'|translate}}
                              </label>
                              <div class="form-group input-group">
                                <app-full-date name="commercialRegisterExpireDate" ngDefaultControl
                                  formControlName="commercialRegisterExpireDate"
                                  [selectedDate]="commercialRegisterExpireDate"
                                  (OnDateSelect)="getCommercialRegisterExpireDate($event)">
                                </app-full-date>
                                <div class="validation alert-danger" *ngIf="isCommercialRegisterGreater">
                                  <i class="fa fa-close"></i> {{'validation-messages.max-expire-date'|translate}}
                                </div>
                                <div class="validation alert-success"
                                  *ngIf="isCommercialRegisterGreater==false && onSelectCommercialRegisterExpireDate==true">
                                  <i class="fa fa-check"></i>{{'validation-messages.valid-date'|translate}}
                                </div>
                              </div>
                            </div>
                            <div class=" ">
                              <label for="commercialRegisterPlace"
                                class="label-name">{{'page-form.commercial-register-place'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="text" class="form-control" name="commercialRegisterPlace"
                                  formControlName="commercialRegisterPlace">
                              </div>
                            </div>
                            <div class=" ">
                              <label for="companyEmail"
                                class="label-name">{{'page-form.company-email'|translate}}</label>
                              <div class="form-group input-group">
                                <input type="email" class="form-control" name="companyEmail"
                                  formControlName="companyEmail">
                                <div class="validation alert-danger"
                                  *ngIf="CompanyInformationForm.get('companyEmail')?.touched && CompanyInformationForm.get('companyEmail')?.invalid">
                                  <!-- <div *ngIf="CompanyInformationForm.get('companyEmail')?.hasError('required')">Email is required</div> -->
                                  <div class="validation alert-danger"
                                    *ngIf="CompanyInformationForm.get('companyEmail')?.hasError('email')"> <i
                                      class="fa fa-close "></i> {{'validation-messages.invalid-email'|translate}}
                                  </div>
                                </div>
                                <div
                                  *ngIf="(!CompanyInformationForm.get('companyEmail')?.hasError('email') && CompanyInformationForm.value.companyEmail!='') && CompanyInformationForm.get('companyEmail')?.valid"
                                  class="validtion alert-success">
                                  <i class="fa fa-check"></i> {{'validation-messages.valid-email'|translate}}
                                </div>
                                <div class="validtion alert-danger"
                                  *ngIf="(f['companyEmail'].touched && f['companyEmail'].errors) && f['companyEmail'].errors['required']">
                                  <i class="fa fa-close "></i> {{'general.required'|translate}}

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </li>


                  </ul>
                  <div [ngbNavOutlet]="nav" class=""></div>
                  <!-- end tabs -->
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- Section  -->