<!-- Section  -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white ;font-size: 20px;"> {{'page-form.loading'|translate}}</p>
</ngx-spinner>

<section class="inner-page-wrapper inner-page-wrapper-units">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card m-0 mb-5">
          <div class="card-body">
            <form id="NotManagementFormSubmit" class="tabs-form">
              <div class="main-unit">
                <div class="wrapper-title">
                  <h3>{{'user-manager.user-data'|translate}}</h3>
                  <hr>
                  <!-- <hr> -->
                  <!-- start tabs -->
                  <ul ngbNav #nav="ngbNav" class="nav-tabs mt-3 vvv">

                    <li [ngbNavItem]>
                      <a ngbNavLink>


                        {{'user-manager.change-password'|translate}}

                      </a>
                      <ng-template ngbNavContent>
                        <!-- <div class="row"> -->
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onChangePassword()" id="User">

                          <div class="row ">
                            <div class="mb-3 col-md-6 col-12">
                              <label for="userName" class="label-name">
                                {{'user-manager.user-name'|translate}}</label>
                              <div class="input-group form-group">
                                <input type="text" disabled placeholder="{{user.userName}}"
                                  class="form-control form-control icon-padlock m-0 ">
                              </div>

                            </div>
                            <div class="mb-3 col-md-6 col-12">
                              <label for="email" class="label-name">
                                {{'user-manager.user-email'|translate}}</label>
                              <div class="input-group form-group">
                                <input type="text" disabled placeholder="{{user.email}}"
                                  class="form-control form-control icon-padlock m-0 ">
                              </div>

                            </div>
                            <div class="mb-3 col-md-6 col-12">
                              <label for="password" class="label-name"><span class="text-danger">*</span>
                                {{'user-manager.password'|translate}}</label>
                              <div class="input-group form-group">
                                <input type="password" class="form-control form-control icon-padlock m-0 "
                                  formControlName="password">
                              </div>

                              <div *ngIf="(f['password'].touched || f['password'].dirty ) && f['password'].invalid"
                                class="validation text-danger validation-alert ">
                                <i class="fa fa-close "></i>
                                <span *ngIf="f['password'].errors && f['password'].errors['required']">
                                  {{'validation-messages.required-password' | translate}}</span>
                                <span *ngIf="f['password'].errors && f['password'].errors['minlength']">
                                  {{'validation-messages.min-password' | translate}}</span>
                              </div>



                            </div>
                            <div class="col-md-6 col-12 ">
                              <label for="password" class="label-name"><span class="text-danger">*</span>
                                {{'user-manager.confirm-password'|translate}}</label>
                              <div class="input-group form-group">
                                <input type="password" class="form-control icon-user" formControlName="confirmPassword">
                              </div>


                              <div class="validation text-danger"
                                *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors && f['confirmPassword'].errors['required']">
                                <i class="fa fa-close "></i> {{"validation-messages.required-password"|translate}}
                              </div>
                              <div class="validation text-danger"
                                *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">
                                <i class="fa fa-close "></i> {{"validation-messages.min-password"|translate}}
                              </div>
                              <div class="validation text-danger"
                                *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['matching']">
                                <i class="fa fa-close "></i> {{"validation-messages.not-match-password"|translate}}
                              </div>



                            </div>
                          </div>
                        </form>
                        <!-- </div> -->
                      </ng-template>
                    </li>



                  </ul>
                  <div [ngbNavOutlet]="nav" class=""></div>
                  <!-- end tabs -->
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- Section  -->