<section class="inner-page-wrapper inner-page-auction">
    <div class="container">
        <app-tabulator [idColName]="'id'" [refreshGrid]="isListEmpty" [childRowData]="technicians" [parentColName]="'groupId'" [divId]="'Technicians'" [columnSettings]="columnNames" [componentName]="'technicians'" (onAddItem)="openAddTechnicians()" (onMenuActionSelected)="onMenuActionSelected($event)"
            [showMenuOptions]="menuOptions" [direction]="direction" [sortByList]="sortByCols" [groupByList]="groupByCols" [panelId]="panelId" [searchFilters]="searchFilters" (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'Technicians'"></app-tabulator>
    </div>
  </section>



