<div class="page_wrapper" style="width: 154px;">
    <main class="main-content margin-top-mobile">
        <section class="property-listing-box">
            <div class="container">
                <div class="tab-content property-listing-tabs">
                    <div class="tab-pane fade show active" id="two" role="tabpanel" aria-labelledby="two-tab">
                        <div class="row" style="justify-content: center;">
                            <app-opportunity-details1 [opportunity]="opportunity!" [attributes]="attributes" [opportunityStatusTypes]="opportunityStatusTypes"></app-opportunity-details1>

                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>
</div>